
.main-title-attention{
	font-family: Ryumin !important;
	letter-spacing: 0 !important;
}

.mini-text-attention{
    color: #5C2700;
    font-family: Mv Boli !important;
    font-size: 14px;
    padding-left: 10px;
    vertical-align: middle;
    padding-bottom: 8px;
}

/* Aftercare - adjustments -------------
------------------------------------------------------------
------------------------------------------------------------*/
.sd-t2-adj{
	width: 55% !important;
}

.sd-cont09-items-adj{
	width: 330px !important;
	margin-right: 10px;
}

.sd-cont09-items__dtl-adj{
	width: 180px !important;
	padding-top: 25px
}

/* Kokuin - adjustments -------------
------------------------------------------------------------
------------------------------------------------------------*/

.p-adj{
	letter-spacing: 0 !important;
	font-size: 15px;
}

/* top margin - adjustments -------------
------------------------------------------------------------
------------------------------------------------------------*/
.tm-20{
	margin-top: 20px !important;
}