.shop-list {display: block;margin: 21px 0 -15px 0;overflow: hidden;}
.shop-list li {
 color:#5c2700;
 float: left;
 font-size: 15px;
 list-style: disc;
 margin: 11px 45px 12px 0;
 width: 125px;
}
.shop-list li:nth-child(1), .shop-list li:nth-child(5) { margin-left: 20px !important; }

.shop-list li a {text-decoration: underline;}