#comparison { margin: 20px 0 37px 0; }
 #comparison .col2-items:nth-child(1), #comparison .col2-items:nth-child(2) { margin-top : 0 !important; }
 #comparison .col2-items { width: 340px; margin: 38px 0 0 20px}

 .comparison-thumb {  }

 .comparison-title, .comparison-color, .comparison-dtl { color: #5c2700; font-size : 15px; }
 .comparison-title, .comparison-color { font-weight : bold; }
 .comparison-title { margin-top: 4px; }
 .comparison-color { margin-top: 2px; }
 .comparison-dtl { margin-top : 11px; }

.related-links {
 background: url("../images/aging/img17.png") repeat;
 padding: 13px 12px 10px 12px;
 width: 699px;
}
 .related-links h3 {
  color: #5c2700;
  font-size : 20px;
  font-weight : bold;
  margin-bottom : 15px;
 }

 #related-wrap {  }
 #related-wrap .rlistf-items { margin-bottom: 0 !important }
 #related-wrap .rlistf-items__img { width: 134px; }

#related-wrap {}
 .related-items { display : block; overflow : hidden; position : relative; }
 .related-items__img { display: table-cell; width: 134px; }
  .related-items__img img { width: 134px; display : block; }
 .related-items__dtl { display: table-cell; vertical-align : middle; }
 .related-items__dtl a, .link {
  color: #333;
  font-weight : bold;
  text-decoration: underline;
  margin-left: 5px;
 }
 .related-items__dtl a img, .link img { margin-right: 5px; }

.related-sec { display: block; overflow: hidden; position: relative; }
 .related-sec__item {
  display: block;
  float: left;
  width: 216px;
  margin-left: 13px;
 }
 .related-sec__item:first-child { margin-left: 0px !important }
 .related-sec__dtl { 
  color: #333; 
  font-size: 12px; 
  text-decoration: underline; 
  font-weight: bold; 
  margin-top: 3px;
  line-height: 23px; 
 }