@font-face {
	font-family: Ryumin;  
	src: url('../fonts/ryumin-pro.otf');  
	font-weight: normal;  
}

.main-title-attention{
	font-family: Ryumin !important;
	letter-spacing: 0 !important;
}

.mini-text-attention{
    color: #5C2700;
    font-family: Mv Boli !important;
    font-size: 14px;
    padding-left: 0;
    vertical-align: middle;
    padding-bottom: 8px;
}