@charset "UTF-8";


/* PC STYLES HERE
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen  and (min-width : 1200px) {
 #p-wrap { width: 100%; }
 #p-banner, #p-contents-wrap { width: 960px; }
 #p-contents-wrap > div { height: inherit; }
 #p-contents { float: right; width: 701px; }
 #p-sidebar { float: left; width: 222px; }

}

/* ALL COMMON CSS
------------------------------------------------------
------------------------------------------------------
--------------------------------------------------*/
@font-face {
 font-family: Mv Boli;
 font-style: normal;
 src: url(../fonts/mvboli.ttf);
}
/*
	Start
	Update: for reuse font style
	Date: 12/4/2012
*/ 
@font-face {
	font-family: Ryumin;  
	src: url('../fonts/ryumin-pro.otf');  
	font-weight: normal;  
}
/*
	End
	Update: for reuse font style
	Date: 12/4/2012
*/ 

/* ALL COMMON CSS
------------------------------------------------------
------------------------------------------------------
--------------------------------------------------*/

body {  }
#p-wrap {background-image: url(../images/common/bg-body.png);display: block;margin: 0 auto;}

/* HEADER
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
#p-header-wrapper {background: #fff;display: block;width: 100%; z-index: 99999;}
#p-header {
 background: #fff;
 display: block;
 height: 79px;
 margin: 0 auto;
 max-width: 1200px;
 min-width: 1100px;
 position: relative;
 z-index: 9999;
}
#header-logo {
 display: block;
 overflow: hidden;
 float: left;
 width: 420px;
 height: 79px;
}
#header-logo img {
 display: block;
 float: left;
 margin-top: 19px;
 margin-right: 11px;
 height: 51px;
 width: 128px;
}
#header-logo .slogan {
 display: block;
 float: left;
 font-size: 11px;
 margin-top: 37px;
 color: #633300;
}
#header-container {
 display: block;
 float: right;
 overflow: hidden;
 width: 680px;
}
#header-nav {
 display: block;
 float: right;
 overflow: hidden;
 width: 680px;
}
.top-menu, .p-nav { display: block; overflow: hidden; float: right; }
.top-menu { margin-bottom: 15px; margin-top: 6px; }
.top-menu li {
 float: left;
 font-size: 11px;
 color: #633300;
 margin-left: 17px;
}
.top-menu li { float: left; }
.top-menu li:hover {color: #cc2b02;}
#p-nav {
 background: #555;
 display: block;
 height: 50px; /* temporary */
 overflow: hidden;
 position: relative;
}
#p-nav__items {
 color: #633300; 
 font-weight: bold;
 font-size: 16px;
 float: left;
}
#p-nav__items:hover {color: #cc2b02;}
#p-nav__items:nth-child(1n+2) { margin-left: 30px; }
#accent {
 display: block;
 height: 2px;
 background-image: url(../images/common/line.png);
 background-repeat: repeat-x;
}
#accent-2 {
 display: block;
 height: 7px;
 background-image: url(../images/common/sidebar-slice/line-hr.png);
 max-width: 220px;
}
#accent-3 {
 display: block;
 height: 5px;
 background-image: url(../images/common/sidebar-slice/mid-line-hr.png);
 max-width: 701px;
}
#accent-4 {
 display: block;
 height: 17px;
 background-image: url(../images/common/mid/hr-mid.png);
 max-width: 971px;
}
#accent-5 {
 display: block;
 height: 7px;
 background-image: url(../images/common/standardItem/std-line.png);
}
#accent-6 {
 display: block;
 height: 5px;
 background-image: url(../images/common/herzhaert/hrt-line.png);
}
#accent-7 {
 display: block;
 height: 14px;
 background-image: url(../images/common/last/organ-line2.png);
}
#accent-8 {
 display: block;
 height: 5px;
 background: url(../images/common/last/last-line2.png) no-repeat;
}
/* CONTENTS
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
#image-wrapper {display: block;margin-top: 36px;}
#image-wrapper img {display: block;}
#image-wrapper3 { display: block; margin-top: 20px; }
#image-wrapper3 img { display: block; }
.page-top-img {
 display: none;
 position: fixed;
 right: 70px;
 bottom: 138px;
 z-index: 99999;
}
#p-contents-wrap {
 display: block;
 margin: 0 auto;
 margin-bottom: 30px;
 max-width: 960px;
 overflow: hidden;
 position: relative;
}
#p-contents {  
 display: block; 
 float: right;
 padding-top: 52px;
 width: 700px;
}
 #main-title {
 color: #5c2700;
 display: inline;
 font-size: 30px;
 font-weight: bold;
 line-height: 30px;
 margin: 0;
 padding: 0;
}
 .mini-text {
 color:#5c2700;
 font-family: Mv Boli;
 font-size: 12px;
 padding-left: 10px;
 vertical-align: middle;
}
 .title-text-right {
  color: #333;
  display: block;
  float: right;
  font-size: 16px;
  font-weight: bold;
  margin-top: 6px;
  text-decoration: underline;
 }

/*
	Start
	Update: for reuse font style
	Date: 12/4/2012
*/ 
.font-ryumin 
{
	font-family: Ryumin !important;
}
.font-color-darkred
{
	color:#cc0000;
}
.font-color-darkred
{
	color:#cc0000;
}
.font-color-brown
{
	color:#663300;
}
.font-weight-bold
{
	font-weight:bold;
}
.font-h3-1
{
	font-weight:bold;
	font-size:15px;
	margin-bottom:10px;
}
.font-p-1
{
	line-height:30px; 
	font-size:15px; 
	margin-bottom:30px;
}
.clear-both
{
	clear:both;
}
.glyph-icon{
	display:inline-block;
}
.glyph-icon-double-window{
	width:16px;
	height:16px;
	background:url('../images/sitemap/img1.png') no-repeat 0 3px;
}
.glyph-icon-arrow{
	width:23px;
	height:16px;
	background:url('../images/common/arrow.png') no-repeat 0 3px;
}
.glyph-icon-bullet-brown{
	background:url('../images/common/bullet-brown.png') no-repeat 0 0px;
}
/*
	End
	Update: for reuse font style
	Date: 12/4/2012
*/ 

/*
	Start
	Update: aside menu
	Date: 12/8/2012
*/ 
.site-menu.aside-site-menu{}
.site-menu.aside-site-menu ul ul{
	margin-left:23px;
	margin-bottom:15px;
	margin-top:10px;
}
.site-menu.aside-site-menu ul ul li{
	margin-bottom:7px;
}
.site-menu.aside-site-menu ul ul li a{
	font-size:12px !important;
}
/*
	End
	Update: aside menu
	Date: 12/8/2012
*/ 
 
 #section-wrapper {display: block;margin-bottom: 100px;position: relative;}
.content-txt {
 color:#5c2700;
 font-size: 15px;
 line-height: 1em;
 margin-top: 25px;
}
.content-txt br {display: block;line-height: 30px;}
.content-list {display: block;margin-left: 13px;margin-top: 28px;}
.content-list li {
 color:#5c2700;
 font-size: 15px;
 line-height: 30px;
 list-style: disc;
}
.content-list li:last-child {line-height: 1em; margin-top: 6px;}
#table-style-2 {display: table;margin-top: 21px; width: 701px;}
#table-style-2 #row {display: table-row;}
#table-style-2 #cell {
 display: table-cell;
 color:#5c2700;
 font-size: 15px;
 line-height: 49px;
 border-bottom: 1px dotted #5c2700;
}
#table-style-2 .left {font-weight: bold;width: 250px;}
#table-style-2 .right span:before { content: url(../images/common/phone-icon.png); margin-right: 5px;}

#table-style-3 {display: table;margin-top: 21px; width: 701px;}
#table-style-3 #row {display: table-row;}
#table-style-3 #cell {
 display: table-cell;
 color:#5c2700;
 font-size: 15px;
 line-height: 49px;
 border-bottom: 1px dotted #5c2700;
}
#table-style-3 .left {font-weight: bold;width: 160px;}
#table-style-3 .right span:before { content: url(../images/common/phone-icon.png); margin-right: 5px;}
#section {
 display: block;
 height: 170px;
 margin-top: -170px;
 visibility: hidden;
}
.margtop-side{margin-top: -14px;}
.sidebar-cat{margin-bottom: -9px;}
.list-marg{margin-top: 3px;}
.list-marg2{margin-top:-7px;}
.list-marg3{margin-top:-7px;}
.sidebar-list{margin-top: 5px;}
.sidebar-list2{margin-top: 10px;}
.text-sidebar{font-size: 12px;}
.imglist {
	float: left;
	padding-right: 11px;
}
.container-sidebar{
	max-width: 960px;
	width: 100%;
	margin: 0px auto;
	margin-bottom: 15px;
}
.sidebar-title{font-weight: bold;font-size: 18px;text-align: left;margin-bottom: 9px;}
.title-01{color: #633300;margin-top: 1px;margin-bottom: -2px;}
aside.page-sidebar{width: 234px; max-width: 100%; padding: 0px;margin-top: 7%;margin-left: -4px;}
aside.page-sidebar ul{margin: 0; padding: 0; list-style: none;}
aside.page-sidebar li a{display: block; color: #fff; background: #ed7846; border: 1px solid #ed7846; padding: 10px; margin: 5px auto;}
aside.page-sidebar li a:hover, aside.page-sidebar li a:active, aside.page-sidebar li.current_page_item a{background: #fff; color: #ed7846;}
aside.page-sidebar .row{padding: 10px; margin: 10px auto;}
aside.page-sidebar .row2{margin-top: -1px;}
aside.page-sidebar .row3{margin-top: 19px;}
aside.page-sidebar .row4{margin-top: 30px;}
.page-sidebar a{color:#333333;font-size: 12px;text-decoration: underline;font-weight: bold;}
.page-sidebar a:hover{opacity: 0.7;}
.img1-bg{border: 4px solid #fff;margin-top: -9px;}
.side-tape-left{z-index: 999;position: relative;}
.side-tape-right{z-index: 999;position: relative;}
.sidebar-sub-text{line-height: 2.100em;font-weight: bold;font-size: 12px;margin-top: -1px;text-decoration: underline;}
.sidebar-sub-text2{font-size: 12px;margin-top: -1px;text-decoration: underline;}
.mgr-top-img{margin-top: 0px;}
.btn-mrg{margin-top: -6px;}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* SIDEBAR
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/

#p-sidebar { display: block; float: left; width: 222px; }
#p-sidebar a {
 color: #353534 !important;
 font-size: 10px;
 font-weight: bold;
 text-decoration: underline;
}
#p-sidebar a:hover {opacity: .7;}
#breadcrumb {
 display: block;
 font-size: 11px;
 font-weight: bold;
 margin-bottom: 20px;
 margin-top: 18px;
}
.sidebar-title { 
 color: #633300; 
 font-weight: bold;
 margin-bottom: 8px;
 margin-top: 6px;
}
#sidebar-container { display: block; }
#sidebar-container #sec1-wrapper { display: block; margin-top: 15px; overflow: hidden; }
#sidebar-container #sec1-wrapper .left {
 float: left;
 margin-right: 15px;
 height: 46px;
 width: 64px;
}
#sidebar-container #sec1-wrapper .right {
 float: left;
 overflow: hidden;
 height: 46px;
 width: 140px;
}
#sidebar-container #sec1-wrapper .right .tag-01 {
 background-image: url(../images/common/sidebar-slice/hashtag-01.png);
 background-repeat: no-repeat;
 display: block;
 height: 14px;
 margin-right: 3px;
 padding-left: 52px;
 vertical-align: middle;
 width: 48px;
}
#sidebar-container #sec1-wrapper .right .tag-02 {
 background-image: url(../images/common/sidebar-slice/hashtag-02.png);
 background-repeat: no-repeat;
 display: block;
 height: 14px;
 margin-right: 3px;
 padding-left: 52px;
 vertical-align: middle;
 width: 48px;
}
#sidebar-container #sec1-wrapper .right .tag-03 {
 background-image: url(../images/common/sidebar-slice/hashtag-03.png);
 background-repeat: no-repeat;
 display: block;
 height: 14px;
 margin-right: 3px;
 padding-left: 52px;
 vertical-align: middle;
 width: 48px;
}
#sidebar-container #sec1-wrapper .right .tag-04 {
 background-image: url(../images/common/sidebar-slice/hashtag-04.png);
 background-repeat: no-repeat;
 display: block;
 height: 14px;
 margin-right: 3px;
 padding-left: 52px;
 vertical-align: middle;
 width: 48px;
}
#sidebar-container #sec1-wrapper .right .date { display: block; font-size: 12px; width: 90px; }
#sidebar-container #sec1-wrapper .right .title {
 display: -webkit-box;
 font-size: 10px;
 font-weight: bold;
 text-decoration: underline;
 line-height: 15px;
 margin-top: 3px;
 text-overflow: ellipsis;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
}
#acc-list { display: block; margin-top: 15px; }
#acc-list li {
 display: block;
 vertical-align: middle;
 overflow: hidden;
 margin-bottom: 5px;
}
#acc-list li img {
 display: block;
 float: left;
 margin-right: 10px;
}
#acc-list li p {
 display: block;
 float: left;
 font-size: 12px;
 font-weight: bold;
 text-decoration: underline;
 vertical-align: middle;
 margin-top: 8px;
}
#acc-list li p:hover {opacity: .8;}
#sidebar-single {
 display: block;
 margin-top: 15px;
}
#img-box {
 display: block;
 position: relative;
}
.img1 {
 border: 5px solid #fff;
 display: block;
 height: 135px;
 margin: 0 auto;
 overflow: hidden;
 width: 196px;
}
.side-tape-left, .side-tape-right {display: block;position: absolute;z-index: 100;}
.side-tape-left {border: 1px solid red;left: 5px;top: -8px;}
.side-tape-right {border: 1px solid red;right: 5px;top: -8px;}
#sidebar-single .title {
 font-size: 12px;
 font-weight: bold;
 line-height: 22px;
 margin-top: 6px;
 margin-bottom: 10px;
 text-decoration: underline;
}
.sidebar-cont { display: block; margin-top: 15px; }
.sidebar-cont li {
 line-height: 26px;
}
.sidebar-cont li span {
  color: #333333;
 font-size: 12px;
 font-weight: 700;
}
.sidebar-cont li img {
  margin-right: 4px;
  position: relative;
  top: 2px;
}
/* FOOTER
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/

#p-footer {
 display: block; 
 height: 92px;
 margin: 0 auto;
 max-width: 1200px;
 min-width: 1200px;
 overflow: hidden;
}
#footer-logo {
 display: block;
 float: left;
 overflow: hidden;
 width: 540px;
}
#footer-logo img {
 display: block;
 float: left;
 height: 55px;
 margin-right: 18px;
 margin-top: 18px;
 width: 122px;
}
#footer-logo .slogan {
 display: block;
 float: left;
 font-size: 10px;
 color: #633300;
 margin-top: 23px;
 width: 390px;
}
#footer-nav {
 display: block;
 float: left;
 overflow: hidden;
 width: 660px;
}
#footer-nav .menu {display: block;float: right;margin-top: 18px;}
#footer-nav .menu li {
 display: block;
 float: left;
 font-family: Mv Boli; 
 font-size: 12px;
 margin-left: 8px;
 overflow: hidden;
}
#footer-nav .menu li:nth-child(1) { margin-left: 0 !important; }
#footer-nav .menu li a {color: #603418;display: block;text-decoration: underline;}
#footer-nav .menu li a:hover {color: #cc2b02;}
#footer-nav .menu li img.icon {display: block;float: left;}
.copyright {
 color: #333333;
 display: block;
 float: right;
 font-size: 12px;
 margin-top: 18px;
}



/*
	Start
	Update: margin
	Date: 12/9/2012
*/ 
/*
	End
	Update: margin
	Date: 12/9/2012
*/ 

/* set images to max-width of 700px */
#p-contents .section-content img{
	max-width:700px; 
	height: auto !important;
}

/* featured images scale maximum width */
.featured-img img{
	max-width: 700px;
	height: auto !important;
}