#comp-table .table-1 {
	display: table;
	width: 100%;
	max-width: 701px;
}
#comp-table .table-1 .table-row-1 {display: table-row;}
#comp-table .table-1 .table-cell {
	display: table-cell;
	border-top: 1px dotted #5c2700;
	padding: 10px 0;
}
#comp-table .table-1 .table-cell-left {
	font-weight: bold;
	width: 145px;
}
#comp-table .table-1 .table-row-1:last-child .table-cell {border-bottom: 1px dotted #5c2700;}
.page-content {width:700px;max-width: 100%;margin-top: 41px;}
.comp-profile-img{margin-top: 30px;}
.comp-profile-row2{margin-top: 85px;}
.comp-profile-row3{margin-top: 50px;font-family: Meiryo;color: #5c2700;font-size: 13px;font-weight: 400;line-height: 28px;text-align: left;}
.comp-profile-text-title{font-weight: bold; font-size: 29px;color: #5c2700;margin-top: 1px;margin-bottom: -2px;}
.comp-profile-text-title2{font-size: 23px;color: #5c2700;margin-top: 1px;margin-bottom: -2px;}
.comp-text-1{margin-top: 30px;font-family: RyuminPro;color:  #5c2700;font-size: 30px;font-weight: 800;line-height: 60px;text-align: left;}
.comp-text-2{margin-top: 20px;font-family: Meiryo;color:  #5c2700;font-size: 15px;font-weight: 400;line-height: 30px;text-align: left;}
.comp-info-left {padding-left: 150px;line-height: 35px;}
.comp-info-right{font-family: Meiryo;color:  #5c2700;font-size: 13px;font-weight: 700;text-align: left;}
.comp-info {margin-top: 110px;}
.comp-info1{border-top: 1px dotted #5C2700;margin-top: -64px;}
.float-right {float: right;}