.factory-table  {
	display: table;
	width: 100%;
}
.factory-table .factory-table-row {display: table-row;}
.factory-table .factory-table-cell {
	display: table-cell;
	border-top: 1px dotted #5c2700;
	padding: 10px 0;
}
.factory-table .table-cell-left {
	font-weight: bold;
	width: 145px;
}
.factory-table .factory-table-row:last-child .factory-table-cell {border-bottom: 1px dotted #5c2700;}
.middle-slider{margin-top: 15px;}
.middle-content-container{
	width:700px;
	/*
	width: 800px;
	*/
}
.middle-text-title{
	font-family: RyuminPro;
	color: #5c2700;
	font-size: 30px;/* Approximation due to font substitution */
	font-weight: 800;
	text-align: left;
}
.middle-text-title .mini-text{
	font-family: 'MV Boli';
	color: rgba(92, 39, 0, 0.88);
	font-size: 14px;
	font-weight: 400;
	text-align: left;
}
.middle-sub-text{font-family: Meiryo;color:  #5c2700;font-size: 15px;font-weight: 700;line-height: 30px;text-align: left;margin-top: 5px;}
.mid-row-02{margin-top: 72px;}
.mid-row-02-cat{margin-top: 54px;}
.mid-row-2{margin-top: 99px;}
.mid-row-3{margin-top: 115px;}
.middle-img{margin-right: 18px;}
.middle-sub-text-row-3{font-family: Meiryo;color:  #5c2700;font-size: 15px;font-weight: 400;line-height: 30px;text-align: left;}
.row3-cat-01{margin-top: 45px;}
.row3-middle-inner1-1{margin-top: 40px;}
.row3-cat-02{margin-top: 104px;}
.row3-middle-inner2-1{margin-top: 20px;}
.row3-content-img-cat02 {margin-top: 290px;font-size: 15px;color: #5c2700;}
.row3-cat-03{margin-top: 70px;}
.row3-middle-inner3-1{margin-top: 45px;}
.content-row3{margin-top: -10px;line-height:1.850em;color:#5c2700;font-size: 15px;}
.row3-cat-04{margin-top: 100px;}
.row3-middle-inner4-1{margin-top: 35px;}
.row3-cat-05{margin-top: 185px;}
.row3-middle-inner5-1{margin-top: 30px;}
.row3-content-img-cat05 {margin-top: 298px;font-size: 15px;color: #5c2700;}
.row3-cat-06{margin-top: 75px;}
.row3-middle-inner6-1{margin-top: 38px;}
.row3-cat-07{margin-top: 192px;}
.row3-middle-inner7-1{margin-top: 35px;}
.row3-cat-08{margin-top: 220px;}
.row3-middle-inner8-1{margin-top: 45px;}
.mid-row-4{margin-top: 225px;}
.mid-row4-cat1{margin-top:20px;}
.mid-row4-cat2{margin-top:30px;}
.table-row4{margin-top: 56px;}
.middle-img{margin-right: 18px;}
.middle-sub-text-row-3{font-family: Meiryo;color:  #5c2700;font-size: 15px;font-weight: 400;line-height: 30px;text-align: left;}
.img-pad{padding-right: 45px;}
.row4-content-text {margin-top: 22px;font-family: Meiryo;color:  #5c2700;font-size: 15px;font-weight: 400;line-height: 27px;text-align: left;}
table tr {border-bottom: 1px dotted #5C2700;border-top: 1px dotted #5C2700;vertical-align: top;}
table tr th {font-weight: bold;padding: 0px 0px;padding-top: 16px;}
table tr td {padding: 15px;padding-left: 30px;}
.mid-cat-01{margin-top: 53px;}
.middle-inner-1{margin-top: 33px;}
.mid-cat-02{margin-top: 199px;}
.middle-inner2-1{margin-top: 40px;}
.content-img-cat-02{margin-top: -10px;line-height: 1.950em;color: #5c2700;font-size: 15px;}
.mid-cat-03{margin-top: 225px;}
.middle-inner3-1{margin-top: 35px;}
.middle-inner3-2{margin-top: 200px;}
.mid-cat-04{margin-top: 93px;}
.mid-cat-05{margin-top: 71px;}
.content-img5{margin-top: -10px;line-height:1.850em;color:#5c2700;font-size: 15px;}
.middle-img5{margin-right: 18px;}
.img5bot-text{margin-top: -8px;}
.middle-inner5-1{margin-top: 47px;}
.middle-inner5-2{margin-top: 155px;}
.content-row4-img{margin-top: 304px;font-size: 15px;color:#5c2700;}
.middle-inner4-1{margin-top: 20px;margin-bottom: -2px;}
.middle-inner4-2{margin-top: 186px;}
.content-img2{margin-top: -21px;line-height:1.850em;color:#5c2700 ;}
.middle-img2{margin-right: 18px;}
.middle-img3{margin-right: 18px;}
.content-img3{margin-top: -10px;line-height:1.850em;color:#5c2700;font-size: 15px;}
.middle-img4{margin-right: 18px;}
.content-img4{margin-top: -10px;line-height:1.850em;color:#5c2700;font-size: 15px;}
.middle-inner-2{margin-top: 120px;}
.middle-inner2-2{margin-top: 59px;}
.float-left {float: left;}

/*
	Start
	Update: middle content slider
	Date: 12/9/2012
*/ 
body .bx-viewport{
	/*
	*/
	height:322px !important;
}
/*
	End
	Update: middle content slider
	Date: 12/9/2012
*/ 

