.site-menu.history-year-menu{}
.site-menu.history-year-menu ul{}
.site-menu.history-year-menu ul li .glyph-icon-arrow{
	/*
	*/
	background:url('../images/common/arrow.png') no-repeat 0 -1px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.site-menu.history-year-menu ul li{
	float:left;
	margin-right:45px;
}
.site-menu.history-year-menu ul li.history-year-menu-li-last{
	margin-right:0px;
}
.site-menu.history-year-menu ul li a{
	text-decoration:underline;
	color:#333333;
}

.company-history{
	border-left:2px solid #7a4813;
	padding-left:20px;
}
.company-history .link{
	font-weight:normal;
	line-height:10px;
}
.company-history h3.company-history-h3{
	margin-left:-31px;
	margin-bottom:40px;
	color:#5c2700;
	font-size:30px;
	padding-left:30px;
    text-indent:-30px;
	line-height:40px;
}
.company-history h3.company-history-h3-first{
	line-height:1px;
}
.company-history .glyph-icon.glyph-icon-bullet-brown.company-history-header-bullet{
	width:20px;
	height:20px;
	background:url('../images/common/bullet-brown.png') no-repeat 0 0px;
}
.company-history .company-history-h3 .company-history-header-year{
	font-size:18px;
}
.company-history .company-history-article-image{
	float:left;
}
.company-history p{
	color:#5c2700;
	font-size:15px;
	line-height:30px;
}
.company-history p.f17{
	line-height:35px;
}
.company-history .image-gallery.company-history-gallery{}
.company-history .image-gallery.company-history-gallery .image-gallery-slide{
	width:200px;
	float:left;
	margin-right:35px;
}
.company-history .image-gallery.company-history-gallery.company-history-gallery-320 .image-gallery-slide{
	width:320px;
}
.company-history .image-gallery.company-history-gallery .image-gallery-slide.image-gallery-slide-last{
	margin-right:0px;
}
.company-history .image-gallery.company-history-gallery .image-gallery-slide img{}
.company-history .image-gallery.company-history-gallery .image-gallery-slide p{
	line-height:17px;
	padding-left:23px;
    text-indent:-23px;
}
.company-history .image-gallery.company-history-gallery .image-gallery-slide.image-gallery-slide-ponly p{
	padding-left:0px;
    text-indent:0px;
	color: #5C2700;
	font-size: 15px;
	line-height: 30px;
}
.company-history .image-gallery.company-history-gallery .image-gallery-slide p .glyph-icon-arrow{
	background:url('../images/common/arrow.png') no-repeat -5px 5px;
	width:18px;
	/*
	*/
}
.company-history .image-gallery.company-history-gallery .image-gallery-slide p a{
	text-decoration:underline;
	color:#333333;
}























