/* all index css styles */
#top-contents {
    display: block;
    margin: 0 auto;
    width: 960px;
}
#p-banner {
    background-image: url("../images/common/slides/slide01.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 645px;
    display: block;
    width: 100%;
}
#p-banner p {
    color: #fff;
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 62px;
    margin: 0 auto;
    padding: 200px 0 0 10px;
    width: 960px;
}
#banner2 {
    background-image: url("../images/common/herzhaert/bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 585px;
    display: block;
    width: 100%;
}
#banner2 .title {
    display: block;
    color: #fff;
    font-size: 36px;
    text-align: center;
}
#banner2 .sub-title {
    color: #fff;
    font-size: 24px;
    text-align: center;
}
#banner2 .text {
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
#banner2 a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
#banner3 {
    background-image: url("../images/common/organ/bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 585px;
    display: block;
    width: 100%;
}
#banner3 .title {
    display: block;
    color: #fff;
    font-size: 36px;
    padding-top: 177px;
    text-align: center;
}
#banner3 .sub-title {
    color: #fff;
    font-size: 24px;
    text-align: center;
}
#banner3 .text {
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
#banner3 a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
#banner4 {
    background-image: url("../images/common/last/bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 470px;
    display: block;
    width: 100%;
}
#banner4 .title {
    display: block;
    color: #fff;
    font-size: 36px;
    padding-top: 45px;
    text-align: center;
}
#banner4 .sub-title {
    color: #fff;
    font-size: 24px;
    text-align: center;
}
#banner4 .text {
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
#banner4 a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
#new-item-wrapper, #standard-item-wrapper {display: block; overflow: hidden; }
#new-item-wrapper p { font-size: 14px; }
#new-item-wrapper .left, #new-item-wrapper .right { display: block; float:  left; vertical-align: top;}
#standard-item-wrapper a, #new-item-wrapper a { text-decoration: underline; font-weight: bold;}
#standard-item-wrapper a:hover, #new-item-wrapper a:hover {opacity: .8;}
#standard-item-wrapper p { font-size: 14px; line-height: 25px;}
.border-line{
    background-image: url(../images/common/mid/border-line-bg.png);
    background-repeat: no-repeat;
    color: #313131;
    font-size: 14px;
    height: 163px;
    line-height: 1.6em;
    padding: 15px 14px;
    width: 329px;
}
#category-wrapper { display: block; margin-top: 11px; overflow: hidden; }
#category-wrapper li {
    display: block;
    float: left;
    height: 120px;
    margin: 0 21px 8px 21px;
    width: 150px;
}
#category-wrapper li img {
    display: block;
    height: 90px;
    margin: 0 auto;
    width: 90px;
}
#category-wrapper li a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
.slider1 { border: 1px solid red; margin: -5px 0 0 3px; }
.slider1 .tag { display: block; margin-top: 6px; margin-left: -4px; }
.slider1 .title {color: #333; font-size: 14px; font-weight: bold; text-decoration: underline}
.slider1 a:hover {opacity: .8;}
.slider2 {}
.slider2 a:hover {opacity: .8;}
.slider2 .title {display: block; font-size: 14px; font-weight: bold; height: 15px; margin-bottom: 8px; margin-top: 8px; text-decoration: underline;}
.slider2 .description {font-size: 11px; line-height: 1.4em;}
.slider2 .phone, .slider2 .schedule, .slider2 .open {
  display: inline-block;
  font-size: 11px;
  height: 15px;
  overflow: hidden;
  padding-left: 20px;
}
.slider2 .phone {background: url(../images/common/organ/organ-phone.png) no-repeat 0px -3px; }
.slider2 .schedule {background: url(../images/common/organ/organ-clock.png) no-repeat 0px -3px; }
.slider2 .open {background: url(../images/common/organ/organ-text.png) no-repeat 0px -1px;  }
#box-wrapper { display: block; overflow: hidden; }
#box-wrapper .box { display: block; float: left; width: 300px; }
#box-wrapper .box a { text-decoration: underline }
#box-wrapper .box a:hover { opacity: .8; }
#box-wrapper .box .title { margin-top: 1px; }
#box-wrapper .box2 { display: block; float: left; position: relative; width: 290px; }
#box-wrapper .box2 img { }
#box-wrapper .box2 a {
 display: block;
 font-size: 14px;
 font-weight: bold;
 margin-top: 16px;
 text-decoration: underline;
 width: 273px;
}
#box-wrapper .image-box {
    outline: 8px solid #fff;
    display: block;
    height: 188px;
    margin: 0 auto;
    overflow: hidden;
    width: 273px;
}
.spcl-tape-left {
    display: block;
    left: 0;
    position: absolute;
    left: -11px;
    top: -18px;
}
.spcl-tape-right {
    display: block;
    position: absolute;
    right: -15px;
    top: -18px;
}
#box-wrapper .heart-title {
    color: #5C2700;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.heart p {font-size: 14px;}
.heart a {font-size: 15px; font-weight: bold;}
.organ-brand { display: block; }
#final-wrapper { display: block;  }
#final-wrapper .left {
    display: block;
    float: left;
    height: 306px;
    width: 470px;
}
#final-wrapper .right {
    display: block;
    float: right;
    height: 306px;
    width: 460px;
}
#final-wrapper p { font-size: 15px;  }
#final-wrapper a { color: #333; font-weight: bold;  }
#final-wrapper a:hover { opacity: .8;  }