
#l-desc { }
 #l-desc .rlistf-items { }
 #l-desc .rlistf-items__img { width : 340px; }
 #l-desc .rlistf-items__dtl {  color : #5c2700; margin-left : 20px; width : 340px; }
 #l-desc .rlistf-items__dtl p { line-height: 30px; font-size : 15px; }

 .dotted {
  border: dotted 1px #5c2700;
  font-size: 12px !important;
  font-weight : bold;
  line-height: 24px !important;
  padding: 7px;
 }

 .f15 { color:#5c2700; line-height: 30px;  font-size : 15px; }
 
 .lc-model {
  display : block;
  margin-top: 21px;
  overflow : hidden;
  position : relative;
 }
  .lc-model__item:first-child { margin: 0 !important; }
  .lc-model__item { display : block; float : left;  margin-left : 22px; }
   .lc-model__item img { display : block; }
   .lc-model__cpt {
    color: #5c2700;
    font-weight : bold;
    font-size : 12px;
    text-align : center;
    margin-top : 14px;
   }

 .lprod { display : block; overflow : hidden; position : relative; }
 .txc { text-align: center; }
  .prod-item {
   width: 340px;
   display : table-cell;
   vertical-align : bottom;
  }
  .prod-item__thumb {
   display : table-cell;
   vertical-align: middle;
   margin-bottom : 15px;
   text-align : center;
  }
  .prod-item__dtl {
   color: #5c2700;
   font-weight : bold;
   font-size : 12px;
   text-align : center;
  }

 .section1 p { color: #5c2700;  line-height: 31px !important }


