
@media screen and (max-width: 1024px){

	.site-menu img { width:56px; }
	.site-menu li { line-height:inherit !important; }
	.box50, .box30 { width:100%; margin-bottom:20px; }
	.padLeft1 { padding-left:0; }
	
	.col2-items, .col2-items img { width:100%; }
	.col2-items { margin-bottom:10px; }
	.col2-items-right { margin-left:0; }
	.comparison .col2-items { width:100%; }
	.mt30 img { width:100%; }
	.mr43 { margin-right:0 !important; width:100%; }
	.mr43-2 { width:100%; }
	.image-wrapper img { width:100%; }
	
	.lc-model__item { width:50%; margin-left:0 !important; }
	.lc-model__item img  { width:100%; }
	.imgLeft2 { width:100%; margin-bottom:20px; }
	.mleft20 { margin-left:0; }
	.related-links { width:100%; box-sizing:border-box; margin:0; }
	.related-sec__item, .related-sec__item img { width:100%; }
	.comparison-thumb img { margin-bottom:20px; }
	.table-style-1 .left {width:100%;}
	.table-style-1 .right {width: 100%;}
	.table-style-1 .cell { display:block; }
	.iblk { margin-bottom:20px; }
	.box50 img, .box30 > img { width:100%; }
}


@media screen and (max-width:480px )

{
	.comp-table .table-1 .table-cell {    display: block; }
	.comp-table .table-1 .table-cell-left { width:100%; }
	.table-cell-right { border-top:0 !important; padding-top:0 !important; }
	.table-cell-left { padding-bottom:0 !important; }
	.table-cell-last { border-bottom:0 !important; }
}