@media screen and (max-width:1024px )
{
	.p-index .header-shoutout.header-learn{
		background-size:970px auto;
	}
	.p-index .header-shoutout.header-learn .b-content{
		padding:98px 0px;
	}
	.p-index .header-shoutout.header-learn h3{
		display:none;
	}
	.p-index .header-shoutout.header-learn p{
		display:none;
	}
	.p-index .header-shoutout.header-retail{
		background-size:980px auto;
	}
	.p-index .header-shoutout.header-retail .b-content{
		padding:96px 0px;
	}
	.p-index .header-shoutout.header-retail p{
		display:none;
	}
	.p-index .header-shoutout.header-material{
		background-size:980px auto;
	}
	.p-index .header-shoutout.header-material .b-content{
		padding:74px 0px;
	}
	.p-index .header-shoutout.header-material h2{
		margin-bottom:46px;
	}
	.p-index .header-shoutout.header-material p{
		display:none;
	}
}

@media screen and (max-width:980px )
{
	.p-index .header-shoutout.header-hertz .b-content h2{
		padding-left:10px;
	}
}

@media screen and (max-width:960px )
{
	.p-index  .new-item + .mb80{
		margin-bottom:0px !important;
	}
	.p-index  .standard-item + .mb80{
		margin-bottom:0px !important;
	}
}

@media screen and (max-width:640px )
{
	.p-index .header-shoutout.header-hertz{
		background-size:1264px auto;
	}
	.p-index .header-shoutout.header-hertz .b-content{
		padding:100px 0px;
	}
	.p-index .header-shoutout.header-learn .b-content{
		padding:102px 0px;
	}
	.p-index .header-shoutout.header-learn h2{
		font-size:26px;
	}
	.p-index .header-shoutout.header-learn a{
		font-size:20px;
	}
	.p-index .header-shoutout.header-retail .b-content{
		padding:102px 0px;
	}
	.p-index .header-shoutout.header-retail h2{
		font-size:26px;
	}
	.p-index .header-shoutout.header-retail a{
		font-size:20px;
	}
	.p-index .header-shoutout.header-material{
		background-size:1134px auto;
	}
	.p-index .header-shoutout.header-material .b-content{
		padding:102px 0px;
	}
	.p-index .header-shoutout.header-material h2{
		font-size:26px;
	}
	.p-index .header-shoutout.header-material a{
		font-size:20px;
	}
}

@media screen and (max-width:400px )
{
	.p-index .header-shoutout.header-hertz h2{
		font-size:20px;
		line-height:40px;
	}
	.p-index .header-shoutout.header-learn h2{
		font-size:20px;
	}
	.p-index .header-shoutout.header-retail h2{
		font-size:20px;
	}
	.p-index .header-shoutout.header-material h2{
		font-size:20px;
	}
}



















