/*
@media screen and (max-width:960px )
*/
@media screen and (max-width:1024px )
{
	#site-header .site-menu.site-header-menu-1{
		display:none;
	}
	#site-header .site-menu.site-header-menu-2{
		display:none;
	}
	#site-header .site-menu.site-header-menu-3{
		display:block;
	}
	
	
	/**/
	#site-header .col-1{
		width:20%;
		min-width:auto;
	}
	#site-header .col-2{
		/*
		max-width:1070px;
		*/
		width:80%;
	}
	#site-header .logo{
		margin:15px 0px;
		float:none;
	}
	#site-header .logo-note{
		display:none;
	}
	.header-content h2{
		padding:0 10px;
	}
	.header-content h3{
		padding:0 10px;
	}
	
	/**/
	.header-breadcrumb{
		display:none;
	}
	.site-content-breadcrumb{
		display:block;
	}
	/**/
	.site-left-aside{
		display:none;
	}
	#site-main.has-aside{
		max-width:none;
		min-width:320px;
	}
	#site-main.has-aside .site-content{
		margin-left:0px;
		width:100%;
	}
	
	/**/
	.sp-img-nofloat{
		float:none;
		margin-right:0px !important;
		margin-left:0px !important;
		
	}
	.sp-img-wmax{
		width:100%;
		max-width:none;
	}
	.sp-mxw300{ max-width:300px; }
	
	/**/
	.iblk-0{
		padding:0 20px;
	}
	.iblk-1{
		padding:0 20px;
	}
	.iblk-2{
		padding:0 20px;
	}
	.iblk-2 .col-1{
		float:none;
		max-width:680px;
		width:100%;
		position:relative;
		margin:0 auto;
	}
	.iblk-2 .col-1 .prg-box-1{
		border:0px;
		padding:0px;
	}
	.iblk-2 .col-1 .prg-box-1 + .mb30{
		margin-bottom:50px !important;
	}
	.iblk-2 .col-1 h2{
		text-align:center;
	}
	.iblk-2 .col-1 p{
		color:#5C2700;
		font-size:24px;
		line-height:44px;
	}
	.iblk-2 .col-1 .anc.link-2{
		display:block;
		text-align:center;
	}
	.iblk-2 .col-1 .img-bg-kuno{
		position:absolute;
		top:0%;
		right:0%;
		width:185px;
		z-index:-1;
	}
	.iblk-2 .col-2{
		margin-left:0px;
		margin:0 auto;
		max-width:680px;
		width:100%;
	}
	.iblk-2 .col-2 .li-item{
		width:44%;
		height:auto;
	}
	.iblk-2 .col-2 .li-item.odd{
		margin-right:30px;
	}
	.iblk-2 .col-2 .li-item .anc-img img{
		width:100%;
	}
	.iblk-2 .col-2 .li-item .anc.link-3{
		font-size:12px;
	}
	
	.iblk-4{
		padding:0 20px;
	}
	.iblk-4 .li-item{
		float:none;
		width:100%;
	}
	.iblk-4 .li-item .col-1{
		float:left;
	}
	.iblk-4 .li-item .col-2{
		margin-left:330px;
	}
	.iblk-4 .li-item .col-2 .anc.link-3{
		font-size:20px;
		line-height:28px;
		padding-right:10px;
	}
	
	.iblk-5{
		padding:0 20px;
	}
	.iblk-5 .li-item{
		float:none;
		width:100%;
		margin-right:0px;
	}
	.iblk-5 .li-item .anc-img{
		float:left;
		margin-right:10px;
	}
	.iblk-5 .li-item p{
		color:#5C2700;
		font-size:26px;
		line-height:36px;
		margin-bottom:10px;
	}
	.iblk-5 .li-item .anc.link-2{
		margin:20px 0px;
		display:block;
		font-size:24px;
	}
	.iblk-6{
		padding:0 10px;
		margin:0 20px;
	}
	
	.iblk-7{
		padding:0 10px;
	}
	.iblk-7{}
	.iblk-7 article{
		text-align:center;
	}
	.iblk-7 .col-1 .header-content{
		display:block;
	}
	.iblk-7 .col-1 .article-img{
		width:80%;
	}
	.iblk-7 .article-img-left .col-1{
		width:100%;
		float:none;
	}
	.iblk-7 .article-img-left .col-2{
		margin-left:0px;
	}
	.iblk-7 .article-img-left .col-2 .header-content{
		display:none;
	}
	.iblk-7 .article-img-left .col-2 p{
		color:#5C2700;
		font-size:20px;
		text-align:left;
		line-height:32px;
	}
	.iblk-7 .article-img-left .col-2 .anc.link-2{
		font-size:24px;
	}
	.iblk-7 .article-img-right .col-1{
		width:100%;
		float:none;
	}
	.iblk-7 .article-img-right .col-2{
		margin-right:0px;
	}
	.iblk-7 .article-img-right .col-2 .header-content{
		display:none;
	}
	.iblk-7 .article-img-right .col-2 p{
		color:#5C2700;
		font-size:20px;
		text-align:left;
		line-height:32px;
	}
	.iblk-7 .article-img-right .col-2 .anc.link-2{
		font-size:24px;
	}
	
	.iblk-8{
		margin:0 20px;
	}
	.iblk-8 h5{
		font-size:26px;
		font-weight:normal;
	}
	.iblk-8 .li-item{
		float:none;
		width:100%;
		margin-bottom:40px;
	}
	.iblk-8 .li-item.last-item{
		margin-bottom:0px;
	}
	.iblk-8 .li-item > img{
		max-width:217px;
	}
	.iblk-8 .li-item .anc.link-2{
		font-size:28px;
		line-height:38px;
	}
	.iblk-8 .li-item .anc.link-2 img{
		width:28px;
	}
	
	.iblk-9{
		margin:0 20px;
	}
	.iblk-9 article{
		text-align:center;
	}
	.iblk-9 article .header-category{
		font-size:26px;
		line-height:36px;
		text-align:left;
	}
	.iblk-9 article .header-category .anc.link-2{
		display:block;
		font-size:26px;
	}
	.iblk-9 article .header-category .anc.link-2 img{
		width:37px;
	}
	.iblk-9 article .header-article{
		text-align:left;
	}
	.iblk-9 article p{
		text-align:left;
	}
	.iblk-9 article .anc.link-2{
		margin-bottom:20px;	
	}
	.iblk-9 article .iblk-11{
		bottom:-10px;
		padding:0px;
	}
	.iblk-9 article .iblk-11 .li-item{
		margin-right:30px;
	}
	.iblk-9 article .iblk-11 .li-item.last-item{
		margin-right:0px;
	}
	
	.iblk-10{
		padding:0 10px;
	}
	.iblk-10 .li-item  article .header-category{
		font-size:26px;
		line-height:36px;
	}
	.iblk-10 .li-item  article .header-category .anc.link-2{
		display:block;
		font-size:26px;
		padding-left:0px;
	}
	.iblk-10 .li-item article .header-category .anc.link-2 img{
		width:37px;
		vertical-align:middle;
	}
	.iblk-10 .li-item article .header-article{
		font-size:26px;
		line-height:36px;
	}
	
	.iblk-11{
		padding:0 20px;
	}
	.iblk-11 .li-item a img{
		width:48px;
	}
	
	.iblk-12{
		margin:0 20px;
	}
	
	.iblk-14{
		margin: 0px 20px;
	}
	
	.iblk-15{
		padding:0 20px;
	}
	.iblk-15 .li-item{
		width:100%;
		float:none;
		margin-right:0px;
		margin-bottom:60px;
	}
	.iblk-15 .li-item .col{}
	.iblk-15 .li-item .col-1{
		float:left;
	}
	.iblk-15 .li-item .col-2{
		margin-left:250px;
	}
	
	.iblk-16{
		padding:0 20px;
	}
	
	.iblk-17{
		padding:0 20px;
	}
	.iblk-17 .li-item > img{
		max-width:217px;
	}
	.iblk-17 .li-item .anc.link-2{
		font-size:28px;
		top:20%;
		line-height:34px;
	}
	.iblk-17 .li-item .anc.link-2 img{
		width:28px;
	}
	
	.iblk-18{
		padding:0 20px;
	}
	
	#site-footer .col{
		float:none;
	}
	#site-footer .col-1{
		width:100%;
	}
	#site-footer .col-2{
		width:100%;
	}
	#site-footer .logo{
		float:none;
		width:128px;
		margin:0 auto 20px auto;
	}
	#site-footer .slogan{
		width:96%;
		margin:0 auto 20px auto;
		text-align:center;
		color:#633300;
	}
	#site-footer .site-footer-menu{
		float:none;
		width:64%;
		margin:0 auto;
		text-align:center;
	}
	#site-footer .copyright{
		float:none;
		width:96%;
		margin:0 auto 20px auto;
		text-align:center;
	}
}

@media screen and (max-width:800px )
{
	#site-footer .site-footer-menu{
		width:84%;
	}
	
}

@media screen and (max-width:768px )
{
	.iblk-6 .col-2 .mb60{
		margin-bottom:40px !important;
	}
	.iblk-6 .col-2 + .mb30{
		margin-bottom:40px !important;
	}
	
}



@media screen and (max-width:640px )
{
	.iblk-2 .col-1 .img-bg-kuno{
		display:none;
	}
	.iblk-4 .li-item .col-1 .anc-img{
		width:180px;
	}
	.iblk-4 .li-item .col-1 .anc-img img{
		width:162px;
	}
	.iblk-4 .li-item .col-2{
		margin-left:214px;
	}
	.iblk-4 .li-item .col-2 .anc.link-3{
		font-size:14px;
		line-height:28px;
		padding-right:10px;
	}
	.iblk-5 .li-item .anc-img img{
		width:160px;
	}
	.iblk-5 .li-item p{
		font-size:16px;
		line-height:26px;
	}
	
	.iblk-10{
		padding:0 10px;
	}
	.iblk-10 .li-item  article .header-category{
		font-size:18px;
		line-height:24px;
	}
	.iblk-10 .li-item  article .header-category .anc.link-2{
		display:block;
		font-size:18px;
	}
	.iblk-10 .li-item article .header-category .anc.link-2 img{
		width:24px;
		vertical-align:middle;
	}
	.iblk-10 .li-item article .header-article{
		font-size:12px;
		line-height:22px;
	}
	
	.iblk-15 .li-item{
		margin-bottom:20px;
	}
	.iblk-15 .li-item .col-1 img{
		width:162px;
	}
	.iblk-15 .li-item .col-2{
		margin-left:190px;
	}
}

@media screen and (max-width:500px )
{
	.iblk-6 .col-1 img{
		width:100%;
	}
	.iblk-6 .col-2{
		width:56%;
		margin-left:10px;
	}
	
	.iblk-8 .li-item > img{
		max-width:135px;
	}
	.iblk-8 .li-item .anc.link-2{
		font-size:16px;
		line-height:22px;
	}
	.iblk-8 .li-item .anc.link-2 img{
		width:15px;
	}
	

	.iblk-17 .li-item > img{
		max-width:135px;
	}
	.iblk-17 .li-item .anc.link-2{
		font-size:16px;
		line-height:22px;
	}
	.iblk-17 .li-item .anc.link-2 img{
		width:15px;
	}
	
	
	
}

@media screen and (max-width:400px )
{
	.iblk-2 .col-1 p{
		font-size:16px;
		line-height:34px;
	}
	.iblk-3 .li-item{
		margin:0 15px;
	}

	.iblk-9 article .iblk-11{
		bottom:8px;
	}
	.iblk-9 article .iblk-11 .li-item{
		margin-right:15px;
	}
	.iblk-9 article .iblk-11 .li-item.last-item{
		margin-right:0px;
	}
	
	.iblk-11 .li-item a img{
		width:32px;
	}
}

@media screen and (max-width:500px )
{
	.header-content h2{
		font-size:24px;
	}
	.header-content h2 .header-eng{
		display:none;
	}
}

@media screen and (max-width:360px )
{
	.header-content h2{
		font-size:24px;
	}
	.header-content h2 .header-eng{
		display:none;
	}
	.header-content h2 .anc.link-2{
		font-size:14px;
	}
}