/* SMARTPHONES [PORTRAIT AND LANDSCAPE]
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {} 

/* SMARTPHONES [LANDSCAPE]
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 1223px) {
 #p-wrap { min-width: 100%; width: 100%; }
 #p-header, #p-nav, #p-banner, #p-contents-wrap, #p-contents, #p-sidebar, #p-footer { width: 100%; }
 #p-contents, #p-sidebar { height: 100px; }
} 

/* SMARTPHONES [PORTRAIT]
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (max-width : 320px) {}


/* IPHONE 4
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {} 

/* IPHONE 5
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){}

/* IPHONE 6
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){}

/* IPHONE 6+
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){}

/* SAMSUNG GALAXY S3
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){}

/* SAMSUNG GALAXY S4
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){}


/* SAMSUNG GALAXY S5
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){}

/* IPADS [PORTRAIT AND LANDSCAPE]
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

/* IPADS [LANDSCAPE]
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* IPADS [PORTRAIT]
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}

/* IPAD 3
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {}

/* NEXUS 7 2 Portrait & Landscape
------------------------------------------------------
------------------------------------------------------
----------------------------------------------------*/
@media only screen and (min-device-width : 600px) and (max-device-width : 960px) and (orientation : portrait){}

