.organ-txt-wrapper {display: block; }
.organ-txt {
 display: block;
 color: #5c2700;
 font-size: 15px;
 line-height: 30px;
 margin: -6px 0 -10px 0;
 padding: 0;
}
.organ-related {
 background-color: rgba(99,51,0,.3);
 display: block;
 margin: 51px 0 -2px 0;
 padding: 0 12px 13px 12px;
 vertical-align: middle;
}
.related-title {
 display: block;
 color: #5c2700;
 font-size: 20px;
 margin-top: 14px;
}
.organ-related .thumb-wrapper {
 display: block;
 float: left;
 margin-top: 10px;
}
.organ-related .thumb-wrapper img {
 display: block;
}
.organ-related .link-wrapper {
 height: 92px;
 line-height: 92px;
 margin-top: 10px;
 float: left;
}
#organ-wrapper  a {
 display: inline-block;
 color: #333333;
 font-weight: bold;
 text-decoration: underline;
}
#organ-wrapper a:hover { opacity: .8 }