#image-wrapper {display: block;margin-top: 36px;}
#image-wrapper img {display: block;}
#table-style-1 {display: table;margin-top: 23px; margin-bottom: -11px;}
#table-style-1 #row {display: table-row;}
#table-style-1 #cell {
 display: table-cell;
 color:#5c2700;
 font-size: 15px;
 height: 30px;
}
#table-style-1 .left {font-weight: bold;height: 20px;width: 95px;}
#table-style-1 .right {margin-left: 15px;width: 615px;}
#image-wrapper2 {display: block;margin-top: 17px; margin-bottom: -7px;}
.title-list {display: block;margin: 8px 0 -3px 13px;}
.title-list li { 
 color:#5c2700;
 font-size: 15px;
 list-style: disc;
 padding: 11px 0;
}
.title-list li:last-child { 
 padding-bottom: 0px !important;
}
.title-list li a {list-style: disc;text-decoration: underline;}