.sitemap-block{
	width:700px;
	color:#663300;
	margin-top:36px;
}
.sitemap-block .sitemap-block-row{}
.sitemap-block .sitemap-block-menu{
	width:330px; /*350px;*/
	float:left;
	margin-right:40px;
	margin-bottom:40px;
}
.sitemap-block .sitemap-block-menu.sitemap-block-menu-last{
	margin-right:0px;
}
.sitemap-block .sitemap-block-menu > ul{
	background:url("../images/common/rough-brown-bg.jpg") no-repeat right top;
	background-color:rgba(255, 204, 153, 0.5);
	padding-top:20px;
	padding-bottom:20px;
}
.sitemap-block .sitemap-block-menu ul{
	padding-left:20px;
}
.sitemap-block .sitemap-block-menu ul ul{
	padding-left:2px;
}
.sitemap-block .sitemap-block-menu ul li{}
.sitemap-block .sitemap-block-menu ul li > a{
	font-weight:bold;
}
.sitemap-block .sitemap-block-menu ul ul li > a{
	font-weight:normal;
}
.sitemap-block .sitemap-block-menu ul li a{
	text-decoration:underline;
	font-size:15px;
}