.sd-div {
 margin-top: 10px;
}
.sd-ul { 
 float: left;
 position: relative; 
 overflow: hidden; 
}
.sd-ul li {
 float: left;
 margin-right: 15px;
}
.sd-ul li{
 line-height: 30px;
 text-align: left;
}
.sd-ul li:first-child { 
 color:  #5c2700;  
 font-size: 15px;
 font-weight: 400;
}
.sd-ul li:last-child { 
color:  #333333;
font-size: 12px;
font-weight: 700;
line-height: 26px;
}
.sd-ul li:last-child span { text-decoration: underline; } 
.sd-ul li:last-child img {
 margin-right: 4px;
 position: relative;
 top: 2px;
}
.sd-social li { 
 float: left;
 margin-left: 18px;
}
.sd-social {
 float: right
}
.sd-social li:first-child { margin-left: 0; }
.sd-social li img { width: 34px; }
.sd-cont01 {
 border: 1px dashed #5c2700;
 padding: 20px;
}
.sd-list {

}
.sd-list li {
 color:  #5c2700;
 font-weight: bold;
 line-height: 32px;
 list-style-type:disc;
 list-style-position: inside;
}
.sd-list2 { margin-left: 25px; }
.sd-list2 li{
 font-weight: normal;
 line-height: 30px;
 list-style-type: none;
}
.sd15 {
 color: #5c2700;
 line-height: 30px;
 font-size: 15px;
}

#image-wrapper-post img {
	width: 700px;
    border: 6px solid white !important;
    height: 328px;
 
}
.sd-cont02, .sd-cont05, .sd-cont06 {
 display: block;
 position: relative;
 overflow: hidden;
}
.sd-cont02--dtl {
 float: left;
}
 .sd-cont02 img { float: left; padding-right: 15px; width: 340px; }
.sd-cont03 { display: block; margin-top: 20px; position: relative; overflow: hidden; }
.sd-cont03 img { width: 340px; }
.sd-cont03-img { float: left; width: 48.5%; }
.sd-cont03-img:last-child { margin-left: 20px; }
.sd-cont04 {
 background:  rgba(99, 51, 0, 0.3);
 padding: 20px;
 position: relative;
 overflow: hidden;
}
.sd-cont04 img { float:right; padding-left: 15px; width: 340px; }
.sd-cont05 {
 position: relative;
 overflow: hidden;
}
.sd-cont05-item:first-child { margin-left: 0; }
.sd-cont05-item {
 float: left;
 margin-left: 20px;
 width: 220px;
}
.sd-cont05-item img { width: 220px; }
.sd-cont06 ul li {
 display: block;
 margin-bottom: 50px;
 position: relative;
 overflow: hidden;
}
.sd-cont06 ul li span { font-weight: bold; font-size: 15px;}
.sd-cont06 ul li:nth-child(odd) { color:  #5c2700; }
.sd-cont06 ul li:nth-child(even) { color:  #d04400 }

.sd-cont06 ul li .sd-cont06-p { 
 width: 130px;
}
.sd-cont06 ul li .sd-cont06-p  img { display: block; margin: 0 auto 5px; width: 70px; }
.sd-cont06 ul li .sd-cont06-c {
 background: #fff;
 padding: 20px;
 width: 555px;
}
.sd-cont06 ul li:nth-child(odd) .sd-cont06-p {
 float: left;
}
.sd-cont06 ul li:nth-child(even) .sd-cont06-p {
 float: right; 
}

.sd-cont06 ul li:nth-child(odd) .sd-cont06-c {
 float: right;
}
.sd-cont06 ul li:nth-child(even) .sd-cont06-c {
 float: left; 
}
.sd-cont06 ul li .sd-cont06-c p { margin-bottom: 20px; }
.sd-cont06 ul li .sd-cont06-c p:last-child { margin-bottom: 0; }
.sd-cont07 ul li {
 color:  #5c2700;
 line-height: 30px;
 list-style-type: disc;
 list-style-position: inside;
}

.sd-cont07 ol li {
 color:  #5c2700;
 line-height: 30px;
 list-style-type: decimal;
 list-style-position: inside;
}
.sdb { font-weight: bold; }
.sd-cont08 {
 border-left: 5px solid #b17f4c;
 padding-left: 15px;
 margin-bottom: 50px;
}
.sd-cont08 p { display: block; margin-bottom: 20px}
.sd-underline { color:#333; font-weight: bold; text-decoration: underline; }
.sd-linethru { text-decoration: line-through; }
.sd-t {
 color:  #5c2700;
 font-size: 20px;
 font-weight: bold;
 margin: 50px 0 35px;
}
.sd-link {
 background: url(../images/special-detail/sd-arw.png)no-repeat scroll 0 5px;
 background-size: 20px;
 display: block;
 font-size: 16px;
 font-weight: 800;
 margin-top: 35px;
 text-decoration: underline;
 padding-left: 25px;
}
#sd-rf .rlistf-items{
 border: 1px dashed #7a4813;
 margin-bottom: 20px;
 padding: 10px;
}
#sd-rf .rlistf-items:last-child { margin-bottom: 0; }
.sd-link2 {
 background: url(../images/special-detail/sd-arw.png)no-repeat scroll 0 5px;
 background-size: 16px;
 display: block;
 font-weight: 800;
 text-decoration: underline;
 padding-left: 25px;
 position: relative;
 top: 32px;
}
#sd-rf
#sd-rf .rlistf-items .rlistf-items__img {
 width: 134px;
}
#sd-rf .rlistf-items .rlistf-items__dtl {
 width: 68%;
}
.sd-cont09 {
 background-color:  rgba(99, 51, 0, 0.3);
 display: block;
 margin: 50px 0;
 padding: 10px;
 position: relative;
 overflow: hidden;
}
.sd-cont09-items {
 float: left;
 width: 49%;
}
.sd-cont09-items:first-child { margin-right:20px; }
.sd-t2 { 
 color:  #5c2700;
 font-size: 20px;
 font-weight: bold;
 margin-bottom: 10px;
}
.sd-cont09-items__img { width: 140px; float: left; }
.sd-cont09-items__img img{ width: 140px; }
.sd-cont09-items__dtl { width: 190px; float: right; }
.sd-cont09-items__dtl span {
 background: url(../images/special-detail/sd-arw.png)no-repeat scroll 0 5px;
 background-size: 16px;
 display: block;
 font-weight: 800;
 text-decoration: underline;
 padding-left: 25px;
}
.sd-cont10 {
 position: relative;
 overflow: hidden;
 margin-bottom: 50px;
}
.sd-social-l  li { 
 float: left;
 margin-left: 18px;
}
.sd-social-l  {
 float: left;
}
.sd-social-l li:first-child { margin-left: 0; }
.sd-social-l li img { width: 34px; }
.sd-cont11 {
 border-top: 1px solid #633300;;
}
.img-bar-header{
 background: url(../images/special-detail/border-top.png) no-repeat;
    height: 23px;
    margin-top: 36px;
    margin-bottom: -7px;
    z-index: 100;
    position: relative;
    margin-left: 1px;
}
.sd-cont11-in {
 height: 205px;
 margin-top: 50px;
 position: relative;
 overflow: hidden;
}
.sd-cont11__fb-cont {
 background:  #7a4813;
 float: left;
 padding: 2px;
 width: 195px;
}
.sd-cont11__fb-cont span {
 color:#fff;
 display: block;
 font-family: 'MV Boli';
 font-size: 24px;
 margin-bottom: 20px;
 text-align: center;
}
.sd-cont11__fb-cont p {
 color:  #ffffff;
 font-size: 14px;
 line-height: 24px;
}
.sd-cont11__fb-cont div { border: 1px dashed #cfa972; padding: 20px 5px; }
.sd-cont11__fb {
 float: right;
 width: 505px;
}
.sd-cont11__fb img { max-width: 100%; }