/**/
@font-face {
	font-family:mvboli;
	font-style:normal;
	src:url(../fonts/mvboli.ttf);
}
@font-face {
	font-family:ryumin-pro;
	font-style:normal;
	src:url(../fonts/ryumin-pro.otf);
}
.font-mvboli{
	font-family:mvboli;
}
.font-ryumin-pro{
	font-family:ryumin-pro;
}



/**/
html{}
body{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	background:url("../images/updt-common/bg-body.jpg") repeat;
}
p{
	color:#5C2700;
	line-height:30px;
	margin-bottom:20px;
	font-size:15px;
}
a{}
img{}
h1, h2, h3, h4, h5, h6{
	font-family:ryumin-pro;
	font-weight:bold;
	font-size:29px;
	color:#5C2700;
}
h2, h3{
	font-size:30px;
}
h4{
	font-size:20px;

}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}
ul, ol{
	margin-bottom:20px;
}
li{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:15px;
	color:#5c2700;
	line-height:32px;
}
strong{
	font-weight:bold;
	color:#5c2700;
}
blockquote{
	border-left:5px solid #b17f4c;
	padding:6px 0 0 14px;
}
del{
	text-decoration:line-through;
}
hr{
	border:1px solid #633300;
}
a.anc.link-1{
	color:white;
	font-family:ryumin-pro;
	font-size:24px;
}
a.anc.link-1 img{
	margin-right:10px;
}
a.anc.link-2{
	color:#333333;
	font-family:ryumin-pro;
	font-size:16px;
}
a.anc.link-2 img{
	margin-right:4px;
}
.anc.link-3{
	color:#333333;
	font-family:'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}
.accent-1{
	background:url("../images/updt-common/bg-hr-1.png") no-repeat scroll left top; /* / 961px auto*/
	height:4px;
}
.accent-2{
	background:url("../images/updt-common/bg-hr-2.png") repeat-x;
	height:4px;
}
p.breadcrumb{
	font-family:'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:12px;
	color:#333333;
	margin-bottom:0px;
}
.breadcrumb .anc.link-3{
	font-size:12px;
}
.page-top-img{
	display:none;
	position:fixed;
	right:70px;
	bottom:138px;
	z-index:99999;
}
#site-header-wrapper{
	width:100%;
	min-width:320px;
	background:white;
	border-bottom:2px solid #704a2f;
}
#site-header-wrapper.position-fixed{
	position:fixed;
	width:100%;
	top:0px;
	z-index:999;
}
#site-header{
	max-width:1198px;
	margin:0 auto;
	padding:0 10px;
}
#site-header .col{}
#site-header .col-1{
	width:36%;
	min-width:128px;
}
#site-header .col-2{
	width:64%;
}
#site-header .logo{
	width:128px;
	height:51px;
	margin:15px 0;
	margin-right:12px;
	float:left;
}
#site-header .logo a{
	display:block;
	width:128px;
	height:51px;
	background:url('../images/updt-common/site-logo.png');
	text-indent:-999999px;
}
#site-header .logo-note{
	font-size:11px;
	color:#633300;
	margin-top:24px;
	line-height:18px;
}
#site-header .site-menu{
	float:right;
}
#site-header .site-menu.site-header-menu-1{
	margin:7px 0 15px 0;
}
#site-header .site-menu.site-header-menu-2{}
#site-header .site-menu.site-header-menu-3{
	display:none;
	margin:10px 0;
}
#site-header .site-menu .li-item{
	float:left;
}
#site-header .site-menu.site-header-menu-1 .li-item{
	margin-right:18px;
	line-height:18px;
}
#site-header .site-menu.site-header-menu-1 .li-item.last-item{
	margin-right:0px;
}
#site-header .site-menu.site-header-menu-1 .li-item.ico-star{
	background:url('../images/updt-common/ico-star.png') no-repeat 0 50% / auto auto;
}
#site-header .site-menu.site-header-menu-1 .li-item.ico-pen{
	background:url('../images/updt-common/ico-pen.png') no-repeat 0 50% / auto auto;
}
#site-header .site-menu.site-header-menu-1 .li-item.ico-press{
	background:url('../images/updt-common/ico-press.png') no-repeat 0 50% / auto auto;
}
#site-header .site-menu.site-header-menu-1 .li-item.ico-contact{
	background:url('../images/updt-common/ico-contact.png') no-repeat 0 50% / auto auto;
}
#site-header .site-menu.site-header-menu-1 .li-item.ico-organ{
	background:url('../images/updt-common/ico-organ.png') no-repeat 0 50% / auto auto;
}
#site-header .site-menu.site-header-menu-2 .li-item{
	margin-right:30px;
	line-height:28px;
}
#site-header .site-menu.site-header-menu-2 .li-item.last-item{
	margin-right:0px;
}
#site-header .site-menu .li-item a{
	text-decoration:none;
	color:#633300;
	font-family:ryumin-pro;
}
#site-header .site-menu.site-header-menu-3 .li-item{
	margin-right:12px;
}
#site-header .site-menu.site-header-menu-3 .li-item.last-item{
	margin-right:0px;
}
#site-header .site-menu.site-header-menu-1 .li-item a{
	padding-left:14px;
	font-size:12px;
}
#site-header .site-menu.site-header-menu-2 .li-item a{
	font-size:16px;
}
#site-header .site-menu.site-header-menu-2 .li-item.last-item a{
	color:#cc2c02;
}




/**/
#site-main{
	min-width:320px;
}
#site-main .site-content{
	width:100%;
}
#site-main.has-aside{
	max-width:960px;
	margin:0 auto;
}
/*
#site-main.has-aside .site-aside-menu-1{
	width:222px;
	float:left;
}
*/
#site-main.has-aside .site-content{
	/*
	margin-left:260px;
	width:auto;
	*/
	width:700px;
	float:left;
	margin-left:36px;
}
.site-left-aside{
	width:222px;
	float:left;
}
.site-left-aside .header-content h2{
	font-size:18px;
}

.site-aside-menu-1{
	margin-bottom:44px;
}


.site-aside-menu-1.special-category > header{
	margin-bottom:16px;
}
.site-aside-menu-1.special-category .li-item{}
.site-aside-menu-1.special-category .li-item .anc.link-3 img{
	margin-right:4px;
}

.site-aside-menu-1.news-list > header{
	margin-bottom:16px;
}
.site-aside-menu-1.news-list .li-item{
	margin-bottom:15px;
	line-height:14px;
}
.site-aside-menu-1.news-list .li-item .anc-img{
	float:left;
	margin-right:10px;
}
.site-aside-menu-1.news-list .li-item .anc-img img{
	max-width:62px;
}
.site-aside-menu-1.news-list .li-item h3{
	font-family:arial;
	font-size:12px;
}
.site-aside-menu-1.news-list .li-item h3 img{
	margin-right:5px;
}
.site-aside-menu-1.news-list .li-item .anc.link-3{
	font-family:arial;
	font-size:10px;
}

.site-aside-menu-1.category-list > header{
	margin-bottom:16px;
}
.site-aside-menu-1.category-list .li-item{
	margin-bottom:5px;
	position:relative;
	line-height:28px;
}
.site-aside-menu-1.category-list .li-item .anc-img{
	float:left;
	margin-right:10px;
}
.site-aside-menu-1.category-list .li-item .anc-img img{
	max-width:62px;
}
.site-aside-menu-1.category-list .li-item .anc.link-3{
	font-size:12px;
	position:absolute;
	top:25%;
}

.site-aside-menu-1.special-content > header{
	margin-bottom:15px;
}
.site-aside-menu-1.special-content .li-item {
	margin-bottom:20px;
}
.site-aside-menu-1.special-content .li-item .col-1{
	position:relative;
}
.site-aside-menu-1.special-content .li-item .anc-img-tape{
	position:absolute;
}
.site-aside-menu-1.special-content .li-item .anc-img-tape.tape-left{
	left:-6%;
	top:-4%;
}
.site-aside-menu-1.special-content .li-item .anc-img-tape.tape-right{
	right:-0%;
	top:-4%;
}
.site-aside-menu-1.special-content .li-item .anc-img img{
	border:8px solid white;
	max-width:194px;
}
.site-aside-menu-1.special-content .li-item .anc.link-3{
	display:block;
	line-height:20px;
}

.site-aside-menu-1.staff-favorite > header{
	margin-bottom:15px;
}
.site-aside-menu-1.staff-favorite .li-item{
	margin-bottom:20px;
}
.site-aside-menu-1.staff-favorite .li-item .anc.link-3{
	font-size:12px;
}

.site-aside-menu-1.press-release > header{
	margin-bottom:15px;
}
.site-aside-menu-1.press-release .li-item{
	margin-bottom:20px;
}
.site-aside-menu-1.press-release .li-item .anc.link-3{
	font-size:12px;
}

.header-shoutout{
	color:white;
	font-family:ryumin-pro;
}
.header-shoutout.header-hertz{
	background:#808080 url("../images/updt-index/shoutout-hertz.jpg") no-repeat scroll center top / 1916px auto;
}
.header-shoutout.header-learn{
	background:#b2b2b2 url("../images/updt-index/shoutout-learn.jpg") no-repeat scroll center top / 1911px auto;
}
.header-shoutout.header-retail{
	background:#b2b2b2 url("../images/updt-index/shoutout-retail.jpg") no-repeat scroll center top / 1918px auto;
}
.header-shoutout.header-material{
	background:#b2b2b2 url("../images/updt-index/shoutout-material.jpg") no-repeat scroll center top / 1917px auto;
}
.header-shoutout .b-content{
	margin:0px auto;
	max-width:960px;
	width:100%;
	text-align:center;
}
.header-shoutout h2{
	font-size:36px;
}
.header-shoutout h3{
	font-size:24px;
	font-family:mvboli;
}
.header-shoutout p{
	font-size:18px;
	line-height:36px;
	color:white;
}
.header-content{
	font-family:ryumin-pro;
	color:#5C2700;
}
.header-content h2{
	font-size:32px;
	font-weight:bold;
}
.header-content h3{
	line-height:38px;
}
.header-content .header-eng{
	font-family:mvboli;
	font-size:14px;
	vertical-align:middle;
}
.header-content .anc.link-2{
	float:right;
	padding-top:5px;
}


.ablk-1{
	margin:0px auto;
	max-width:960px;
	min-width:320px;
	width:100%;
}
.ablk-1 .header-content{
	margin-bottom:36px;
}
.ablk-1 img{}

.header-breadcrumb{
	padding:18px 0;
}
.site-content-breadcrumb{
	display:none;
	padding:18px 0;
}
.site-content-breadcrumb .breadcrumb{
	padding:0 10px;
}

.iblk-0{}
.iblk-0 .header-content{}

.iblk-1.carousel .slick-slide{
	width:248px;
}
.iblk-1.carousel .anc-img{
	margin-bottom:5px;
	display:inline-block;
}
.iblk-1.carousel .anc.link-3{
	margin-bottom:5px;
	display:inline-block;
}
.iblk-1.carousel h3{
	font-family:arial;
	font-size:16px;
	margin-bottom:5px;
}
.iblk-1.carousel h3 img{
	display:inline-block;
	margin-right:5px;
	vertical-align:bottom;
}
.iblk-1.carousel p{
	font-family:'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:11px;
	color:#555555;
	line-height:18px;
}
.iblk-1.carousel p .ico{
	display:inline-block;
	margin-right:5px;
	vertical-align:middle;
}
.iblk-1.carousel .slick-prev.slick-arrow{
	background:url('../images/updt-common/ico-arrow-prev-brown.png') no-repeat 0px 0px;
	background-size:38px auto;
	width:38px;
	height:38px;
	text-indent:-999999px;
	left:-60px;
	top:80px;
    z-index: 1;
}
.iblk-1.carousel .slick-next.slick-arrow{
	background:url('../images/updt-common/ico-arrow-next-brown.png') no-repeat 0px 0px;
	background-size:38px auto;
	width:38px;
	height:38px;
	text-indent:-999999px;
	right:-60px;
	top: 80px;
}


.iblk-2{}
.iblk-2 .col{}
.iblk-2 .col-1{
	float:left;
	max-width:306px;
}
.iblk-2 .col-1 .prg-box-1{
	border:2px solid rgba(131, 127, 118, .3);
	padding:8px;
}
.iblk-2 .col-1 p{
	font-family:ryumin-pro;
	font-size:14px;
	color:black;
}
.iblk-2 .col-1 .anc.link-2{
	line-height:30px;
}
.iblk-2 .col-2{
	margin-left:328px;
	width:auto;
}
.iblk-2 .col-2 .li-item{
	float:left;
	width:298px;
	height:250px;
	margin-bottom:34px;
}
.iblk-2 .col-2 .li-item.odd{
	margin-right:34px;
}
.iblk-2 .col-2 .li-item .anc-img{
	display:block;
	margin-bottom:10px;
}
.iblk-2 .col-2 .li-item .anc.link-3{
	display:block;
}

.iblk-3 .li-item{
	float:left;	
	text-align:center;
	width:130px;
	height:140px;
	margin:0 30px;
}
.iblk-3 .li-item .anc-img{
	display:block;
	margin-bottom:10px;
}
.iblk-3 .li-item .anc.link-3{
	display:block;
}

.iblk-4 .li-item{
	float:left;
	width:274px;
	margin:0 22px 22px 22px;
}
.iblk-4 .li-item .col-1{
	position:relative;
}
.iblk-4 .li-item .anc-img-tape{
	position:absolute;
}
.iblk-4 .li-item .anc-img-tape.tape-left{
	left:-6%;
	top:-4%;
}
.iblk-4 .li-item .anc-img-tape.tape-right{
	right:-6%;
	top:-4%;
}
.iblk-4 .li-item .anc-img{
	display:block;
	margin-bottom:10px;
}
.iblk-4 .li-item .anc-img img{
	border:8px solid white;
}
.iblk-4 .li-item .anc.link-3{
	display:block;
}

.iblk-5 .li-item{
	float:left;
	width:300px;
	text-align:center;
	margin-right:28px;
}
.iblk-5 .li-item.last-item{
	margin-right:0px;
}
.iblk-5 .li-item p{
	color:black;
	font-size:14px;
	text-align:left;
	margin-bottom:10px;
}
.iblk-5 .li-item .anc.link-2{}


.iblk-6{
	background-color:white;
	border:2px solid #e1e2df;
	box-shadow: 0 0 0 3px white;
}
.iblk-6 .col{
	float:left;
}
.iblk-6 .col-1{
	width:40%;
	text-align:center;
}
.iblk-6 .col-2{
	width:60%;
	text-align:center;
}
.iblk-6 .col-2 p{
	color:#333333;
	font-family:ryumin-pro;
	font-size:14px;
	line-height:24px;
	text-align:left;
}


.iblk-7{}
.iblk-7 article{
	margin-bottom:60px;
}
.iblk-7 article .col-2 p{
	color:black;
	font-size:15px;
	line-height:24px;
}
.iblk-7 .col-1 .header-content{
	margin-bottom:30px;
	display:none;
}
.iblk-7 .article-img-left{}
.iblk-7 .article-img-left .col-1{
	width:454px;
	float:left;
}
.iblk-7 .article-img-left .col-2{
	margin-left:506px;
}
.iblk-7 .article-img-right .col-1{
	width:454px;
	float:right;
}
.iblk-7 .article-img-right .col-2{
	margin-right:506px;
}

.iblk-8{
	background-color:rgba(99, 51, 0, 0.3);
	padding:18px 14px 18px 14px;
}
.iblk-8 h5{
	font-size:20px;
	margin-bottom:20px;
}
.iblk-8 ul{
	margin-bottom:0px;
}
.iblk-8 .li-item{
	float:left;
	width:50%;
	position:relative;
}
.iblk-8 .li-item > img{
	float:left;
	margin-right:10px;
	max-width:135px;
}
.iblk-8 .li-item .anc.link-2{
	position:absolute;
	top:22%;
	line-height:22px;
}
.iblk-8 .li-item .anc.link-2 img{
	width:15px;
}

.iblk-9{}
.iblk-9 article{
	margin-bottom:70px;
	position:relative;
}
.iblk-9 article .article-feature-image.taped{
	position:relative;
}
.iblk-9 article .article-feature-image.taped .anc-img-tape{
	position:absolute;
}
.iblk-9 article .article-feature-image.taped .anc-img-tape.tape-left{
	left:-2%;
	top:-4%;
}
.iblk-9 article .article-feature-image.taped .anc-img-tape.tape-right{
	right:-2%;
	top:-4%;
}
.iblk-9 article .article-feature-image.taped .anc-img{
	display:block;
	margin-bottom:10px;
}
.iblk-9 article .article-feature-image.taped .anc-img img{
	width:98%;
	border:8px solid white;
}
.iblk-9 article .header-category{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:15px;
	font-weight:normal;
	margin-bottom:20px;
}
.iblk-9 article .header-category .anc.link-2{
	font-size:12px;
}
.iblk-9 article .header-category .anc.link-2 img{
	width:20px;
	vertical-align:bottom;
}
.iblk-9 article .header-article{
	margin-bottom:25px;
	line-height:38px;
}
.iblk-9 article .header-article a{
	font-size:30px;
	color:#5c2700;
}
.iblk-9 article p{}
.iblk-9 article .anc.link-2{
	margin-bottom:20px;	
}
.iblk-9 article .anc.link-2 img{}
.iblk-9 article .iblk-11{
	position:absolute;
	right:0px;
	bottom:-46px;
}




.iblk-10{}
.iblk-10 ul{
	padding:0 10px;
}
.iblk-10 .li-item{
	float:left;
	width:50%;
	line-height:9px;
}
.iblk-10 .li-item article{
	width:86%;
	max-width:312px;
	margin:0 auto;
}
.iblk-10 .li-item article .article-feature-image.taped{
	position:relative;
}
.iblk-10 .li-item article .article-feature-image.taped .anc-img-tape{
	position:absolute;
}
.iblk-10 .li-item article .article-feature-image.taped .anc-img-tape.tape-left{
	left:-2%;
	top:-4%;
}
.iblk-10 .li-item article .article-feature-image.taped .anc-img-tape.tape-right{
	right:-2%;
	top:-4%;
}
.iblk-10 .li-item article .article-feature-image.taped .anc-img{
	display:inline-flex;
	border:8px solid white;
	margin-bottom:10px;
}
.iblk-10 .li-item article .article-feature-image.taped .anc-img img{
	width:100%;
}
.iblk-10 .li-item article .header-category{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:15px;
	font-weight:normal;
	margin-bottom:10px;
}
.iblk-10 .li-item article .header-category .anc.link-2{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:12px;
	padding-left:10px;
}
.iblk-10 .li-item article .header-category .anc.link-2 img{
	width:20px;
	vertical-align:bottom;
}
.iblk-10 .li-item article .header-article{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	margin-bottom:25px;
	line-height:22px;
	font-size:15px;
}
.iblk-10 .li-item article .header-article a{
	color:#333333;
}

.iblk-11{}
.iblk-11 .li-item{
	float:left;
	margin-right:18px;
}
.iblk-11 .li-item.last-item{
	margin-right:0px;
}
.iblk-11 .li-item a{
	display:block;
}
.iblk-11 .li-item a img{
	width:32px;
}

.iblk-12{
	border:1px dashed #5C2700;
	padding:21px;
}
.iblk-12 > .header-content{
	margin-bottom:20px;
}
.iblk-12 ul{
	margin-left:20px;
}
.iblk-12 ul li{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:15px;
	color:#5c2700; 
	font-weight:bold;
	list-style-type:disc;
	line-height:30px;
}
.iblk-12 ul ul{
	margin-left:10px;
}
.iblk-12 ul li li{
	font-weight:normal;
	list-style-type:none;
}

.iblk-13{}
.iblk-13 ul{
	padding:0 10px;
}
.iblk-13 .li-item{
	float:left;
	width:50%;
}
.iblk-13 .li-item article{
	width:86%;
	max-width:340px;
	margin:0 auto;
}
.iblk-13 .li-item article .article-feature-image{}
.iblk-13 .li-item article .article-feature-image .anc-img{}
.iblk-13 .li-item article .article-feature-image .anc-img img{
	width:100%;
}
.iblk-13 .li-item article p{
	font-size:15px;
	color:#5c2700;
}


.iblk-14{
	padding:18px 14px;
	background-color: rgba(99, 51, 0, 0.3);
}


.iblk-15{}
.iblk-15 .li-item{
	width:220px;
	float:left;
	margin-right:20px;
}
.iblk-15 .li-item.last-item{
	margin-right:0px;
}
.iblk-15 .li-item .col{}
.iblk-15 .li-item .col-1{}
.iblk-15 .li-item .col-1 img{}
.iblk-15 .li-item .col-2{}
.iblk-15 .li-item .col-2 p{}


.iblk-16{}
.iblk-16 .li-item{
	margin-bottom:40px;
}
.iblk-16 .li-item .col{}
.iblk-16 .li-item .col-1{
	width:126px;
	text-align:center;
}
.iblk-16 .li-item .col-1 p{
	font-weight:bold;
}
.iblk-16 .li-item .col-2{
	border-radius:6px;
	background-color:white;
	padding:10px 20px;
}
.iblk-16 .li-item.sender{}
.iblk-16 .li-item.sender .col{}
.iblk-16 .li-item.sender .col-1{
	float:left;
}
.iblk-16 .li-item.sender .col-2{
	margin-left:144px;
}
.iblk-16 .li-item.receiver{}
.iblk-16 .li-item.receiver .col{}
.iblk-16 .li-item.receiver .col-1{
	float:right;
}
.iblk-16 .li-item.receiver .col-1 p{
	color:#d04500;
}
.iblk-16 .li-item.receiver .col-2{
	margin-right:144px;
}

.iblk-17{}
.iblk-17 ul{
	margin-bottom:0px;
}
.iblk-17 .li-item{
	border:1px dashed #5C2700;
	padding:10px;
	position:relative;
	margin-bottom:20px;
}
.iblk-17 .li-item > img{
	float:left;
	margin-right:10px;
	max-width:135px;
}
.iblk-17 .li-item .anc.link-2{
	position:absolute;
	top:40%;
	line-height:22px;
}
.iblk-17 .li-item .anc.link-2 img{
	width:15px;
}

.iblk-18{}
.iblk-18 img{
	width:100%;
}



/**/
#site-footer-wrapper{
	width:100%;
	min-width:320px;
	border-top:2px solid #704a2f;
}
#site-footer{
	max-width:1198px;
	margin:20px auto 0 auto;
	padding:0 10px;
}
#site-footer .col-1{
	width:47%;
}
#site-footer .col-2{
	width:53%;
}
#site-footer .logo{
	width:128px;
	height:51px;
	float:left;
	margin-right:12px;
}
#site-footer .logo a{
	display:block;
	width:128px;
	height:51px;
	background:url('../images/updt-common/site-logo.png');
	text-indent:-999999px;
}
#site-footer .slogan{
	font-size:12px;
	color:#333333;
	font-family:ryumin-pro;
	line-height:20px;
}
#site-footer .site-footer-menu{
	float:right;
}
#site-footer .site-footer-menu .li-item{
	float:left;
	margin-right:16px;
	margin-bottom:20px;
}
#site-footer .site-footer-menu .li-item.last-item{
	margin-right:0px;
}
#site-footer .site-footer-menu .li-item.ico-twitter{
	background:url('../images/updt-common/ico-twitter.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item.ico-fb{
	background:url('../images/updt-common/ico-fb.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item.ico-tumbler{
	background:url('../images/updt-common/ico-tumbler.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item.ico-mail-mag{
	background:url('../images/updt-common/ico-mail-mag.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item.ico-sitemap{
	background:url('../images/updt-common/ico-sitemap.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item.ico-online-shop{
	background:url('../images/updt-common/ico-online-shop.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item a{
	color:#573a1a;
	font-family:mvboli;
	font-size:12px;
	padding-left:22px;
}
#site-footer .copyright{
	float:right;
	font-size:12px;
	color:#333333;
	font-family:ryumin-pro;
}













/*helpers*/
.float-right{float:right;}
.float-left{float:left;}
.clear-both{clear: both;}
.clear-left{clear: left;}
.mxw341{ max-width:341px; }
.w100p{ width:100%; }
.w50p{ width:50%; }
.mt5 { margin-top:5px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt25 { margin-top:25px !important; }
.mt30 { margin-top:30px !important; }
.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mt45 { margin-top:45px !important; }
.mt50 { margin-top:50px !important; }
.mt55 { margin-top:55px !important; }
.mt60 { margin-top:60px !important; }
.mt65 { margin-top:65px !important; }
.mt70 { margin-top:70px !important; }
.mt75 { margin-top:75px !important; }
.mt80 { margin-top:80px !important; }
.mt85 { margin-top:85px !important; }
.mt90 { margin-top:90px !important; }
.mt95 { margin-top:95px !important; }
.mt100 { margin-top:100px !important; }
.mb5 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb25 { margin-bottom:25px !important; }
.mb30 { margin-bottom:30px !important; }
.mb35 { margin-bottom:35px !important; }
.mb40 { margin-bottom:40px !important; }
.mb45 { margin-bottom:45px !important; }
.mb50 { margin-bottom:50px !important; }
.mb55 { margin-bottom:55px !important; }
.mb60 { margin-bottom:60px !important; }
.mb65 { margin-bottom:65px !important; }
.mb70 { margin-bottom:70px !important; }
.mb75 { margin-bottom:75px !important; }
.mb80 { margin-bottom:80px !important; }
.mb85 { margin-bottom:85px !important; }
.mb90 { margin-bottom:90px !important; }
.mb95 { margin-bottom:95px !important; }
.mb100 { margin-bottom:100px !important; }
.mb105 { margin-bottom:105px !important; }
.mb110 { margin-bottom:110px !important; }
.mb115 { margin-bottom:115px !important; }
.mb120 { margin-bottom:120px !important; }
.ml5 { margin-left:5px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml25 { margin-left:25px !important; }
.ml30 { margin-left:30px !important; }
.ml35 { margin-left:35px !important; }
.ml40 { margin-left:40px !important; }
.ml45 { margin-left:45px !important; }
.ml50 { margin-left:50px !important; }
.ml55 { margin-left:55px !important; }
.ml60 { margin-left:60px !important; }
.ml65 { margin-left:65px !important; }
.ml70 { margin-left:70px !important; }
.ml75 { margin-left:75px !important; }
.ml80 { margin-left:80px !important; }
.ml85 { margin-left:85px !important; }
.ml90 { margin-left:90px !important; }
.ml95 { margin-left:95px !important; }
.ml100 { margin-left:100px !important; }
.mr5 { margin-right:5px !important; }
.mr10 { margin-right:10px !important; }
.mr15 { margin-right:15px !important; }
.mr20 { margin-right:20px !important; }
.mr25 { margin-right:25px !important; }
.mr30 { margin-right:30px !important; }
.mr35 { margin-right:35px !important; }
.mr40 { margin-right:40px !important; }
.mr43 { margin-right:43px !important; }
.mr45 { margin-right:45px !important; }
.mr50 { margin-right:50px !important; }
.mr55 { margin-right:55px !important; }
.mr60 { margin-right:60px !important; }
.mr65 { margin-right:65px !important; }
.mr70 { margin-right:70px !important; }
.mr75 { margin-right:75px !important; }
.mr80 { margin-right:80px !important; }
.mr85 { margin-right:85px !important; }
.mr90 { margin-right:90px !important; }
.mr95 { margin-right:95px !important; }
.mr100 { margin-right:100px !important; }