/************ start company********************/

.comp-table .table-1 {
	display: table;
	width: 100%;
	max-width: 701px;
}
.comp-table .table-1 .table-row-1 {display: table-row;}
.comp-table .table-1 .table-cell {
	display: table-cell;
	border-top: 1px dotted #5c2700;
	padding: 10px 0;
}
.comp-table .table-1 .table-cell-left {
	font-weight: bold;
	width: 145px;
}
.comp-table .table-1 .table-row-1:last-child .table-cell {border-bottom: 1px dotted #5c2700;}
.page-content {width:700px;max-width: 100%;margin-top: 41px;}
.comp-profile-img{margin-top: 30px;}
.comp-profile-row2{margin-top: 85px;}
.comp-profile-row3{margin-top: 50px;font-family: Meiryo;color: #5c2700;font-size: 13px;font-weight: 400;line-height: 28px;text-align: left;}
.comp-profile-text-title{font-weight: bold; font-size: 29px;color: #5c2700;margin-top: 1px;margin-bottom: -2px;}
.comp-profile-text-title2{font-size: 23px;color: #5c2700;margin-top: 1px;margin-bottom: -2px;}
.comp-text-1{margin-top: 30px;font-family: RyuminPro;color:  #5c2700;font-size: 30px;font-weight: 800;line-height: 60px;text-align: left;}
.comp-text-2{margin-top: 20px;font-family: Meiryo;color:  #5c2700;font-size: 15px;font-weight: 400;line-height: 30px;text-align: left;}
.comp-info-left {padding-left: 150px;line-height: 35px;}
.comp-info-right{font-family: Meiryo;color:  #5c2700;font-size: 13px;font-weight: 700;text-align: left;}
.comp-info {margin-top: 110px;}
.comp-info1{border-top: 1px dotted #5C2700;margin-top: -64px;}
.float-right {float: right;}

.comp-table p { margin-bottom:0 !important; }

.site-menu ul { margin-bottom:0 !important; }
.font-weight-bold {    font-weight: bold; }


/************ end company********************/

/**********start factory****************/

.factory-table  {
	display: table;
	width: 100%;
}
.factory-table .factory-table-row {display: table-row;}
.factory-table .factory-table-cell {
	display: table-cell;
	border-top: 1px dotted #5c2700;
	padding: 10px 0;
}
.factory-table .table-cell-left {
	font-weight: bold;
	width: 145px;
}
.factory-table .factory-table-row:last-child .factory-table-cell {border-bottom: 1px dotted #5c2700;}
.middle-slider{margin-top: 30px;}
.middle-content-container{
	width:700px;
	/*
	width: 800px;
	*/
}
.middle-text-title{
	font-family: RyuminPro;
	color: #5c2700;
	font-size: 30px;/* Approximation due to font substitution */
	font-weight: 800;
	text-align: left;
}
.middle-text-title .mini-text{
	font-family: 'MV Boli';
	color: rgba(92, 39, 0, 0.88);
	font-size: 14px;
	font-weight: 400;
	text-align: left;
}
.middle-sub-text{font-family: Meiryo;color:  #5c2700;font-size: 15px;font-weight: 700;line-height: 30px;text-align: left;margin-top: 5px;}
.mid-row-02{margin-top: 72px;}
.mid-row-02-cat{margin-top: 54px;}
.mid-row-2{margin-top: 99px;}
.mid-row-3{margin-top: 115px;}
.middle-img{margin-right: 18px;}
.middle-sub-text-row-3{font-family: Meiryo;color:  #5c2700;font-size: 15px;font-weight: 400;line-height: 30px;text-align: left;}
.row3-cat-01{margin-top: 45px;}
.row3-middle-inner1-1{margin-top: 40px;}
.row3-cat-02{margin-top: 104px;}
.row3-middle-inner2-1{margin-top: 20px;}
.row3-content-img-cat02 {margin-top: 290px;font-size: 15px;color: #5c2700;}
.row3-cat-03{margin-top: 70px;}
.row3-middle-inner3-1{margin-top: 45px;}
.content-row3{margin-top: -10px;line-height:1.850em;color:#5c2700;font-size: 15px;}
.row3-cat-04{margin-top: 100px;}
.row3-middle-inner4-1{margin-top: 35px;}
.row3-cat-05{margin-top: 185px;}
.row3-middle-inner5-1{margin-top: 30px;}
.row3-content-img-cat05 {margin-top: 298px;font-size: 15px;color: #5c2700;}
.row3-cat-06{margin-top: 75px;}
.row3-middle-inner6-1{margin-top: 38px;}
.row3-cat-07{margin-top: 192px;}
.row3-middle-inner7-1{margin-top: 35px;}
.row3-cat-08{margin-top: 220px;}
.row3-middle-inner8-1{margin-top: 45px;}
.mid-row-4{margin-top: 225px;}
.mid-row4-cat1{margin-top:20px;}
.mid-row4-cat2{margin-top:30px;}
.table-row4{margin-top: 56px;}
.middle-img{margin-right: 18px;}
.middle-sub-text-row-3{font-family: Meiryo;color:  #5c2700;font-size: 15px;font-weight: 400;line-height: 30px;text-align: left;}
.img-pad{padding-right: 45px;}
.row4-content-text {margin-top: 22px;font-family: Meiryo;color:  #5c2700;font-size: 15px;font-weight: 400;line-height: 27px;text-align: left;}
table tr {border-bottom: 1px dotted #5C2700;border-top: 1px dotted #5C2700;vertical-align: top;}
table tr th {font-weight: bold;padding: 0px 0px;padding-top: 16px;}
table tr td {padding: 15px;padding-left: 30px;}
.mid-cat-01{margin-top: 53px;}
.middle-inner-1{margin-top: 33px;}
.mid-cat-02{margin-top: 199px;}
.middle-inner2-1{margin-top: 40px;}
.content-img-cat-02{margin-top: -10px;line-height: 1.950em;color: #5c2700;font-size: 15px;}
.mid-cat-03{margin-top: 225px;}
.middle-inner3-1{margin-top: 35px;}
.middle-inner3-2{margin-top: 200px;}
.mid-cat-04{margin-top: 93px;}
.mid-cat-05{margin-top: 71px;}
.content-img5{margin-top: -10px;line-height:1.850em;color:#5c2700;font-size: 15px;}
.middle-img5{margin-right: 18px;}
.img5bot-text{margin-top: -8px;}
.middle-inner5-1{margin-top: 47px;}
.middle-inner5-2{margin-top: 155px;}
.content-row4-img{margin-top: 304px;font-size: 15px;color:#5c2700;}
.middle-inner4-1{margin-top: 20px;margin-bottom: -2px;}
.middle-inner4-2{margin-top: 186px;}
.content-img2{margin-top: -21px;line-height:1.850em;color:#5c2700 ;}
.middle-img2{margin-right: 18px;}
.middle-img3{margin-right: 18px;}
.content-img3{margin-top: -10px;line-height:1.850em;color:#5c2700;font-size: 15px;}
.middle-img4{margin-right: 18px;}
.content-img4{margin-top: -10px;line-height:1.850em;color:#5c2700;font-size: 15px;}
.middle-inner-2{margin-top: 120px;}
.middle-inner2-2{margin-top: 59px;}
.float-left {float: left;}

.box50 { float:left; width:50%; padding:10px; box-sizing:border-box;}
.box30 { float:left; width:33%; padding:10px; box-sizing:border-box; }
.img100 { width:100%; }
.clear { clear:both; }
.padLeft1 { padding-left:20px; box-sizing:border-box; }
.rlistf-items {
    overflow: hidden;
    position: relative;
	margin-top:40px;
    margin-bottom: 4px;
}
.comparison .col2-items {
    width: 340px;
	float:left;
	display:block;
}
.col2-items-right { margin-left:20px; }
.comparison { margin-bottom:30px; }
body .bx-viewport{
	/*
	*/
	height:322px !important;
}
.comp-profile-row3 { margin-bottom:40px; }
.font-ryumin {
	color:#5c2700; font-size:30px;
}
.ohidden { overflow:hidden; }
.fontsmall1 { 	color:#5C2700; line-height: 30px; font-size: 15px; }
/***************end factory *****************/

.mbottom30 { margin-bottom:30px; }
.mt30 {  	margin-bottom: 5px; margin-top:20px; }

 .lc-model {
  display : block;
  margin-top: 21px;
  overflow : hidden;
  position : relative;
 }
  .lc-model__item:first-child { margin: 0 !important; }
  .lc-model__item { display : block; float : left;  margin-left : 22px; }
   .lc-model__item img { display : block; }
   .lc-model__cpt {
    color: #5c2700;
    font-weight : bold;
    font-size : 12px;
    text-align : center;
    margin-top : 14px;
   }


   
   
   
 .f15 { color:#5c2700; line-height: 30px;  font-size : 15px; }
 
 .lc-model {
  display : block;
  margin-top: 21px;
  overflow : hidden;
  position : relative;
 }


 .lprod { display : block; overflow : hidden; position : relative; }
 .txc { text-align: center; }
  .prod-item {
   width: 340px;
   display : table-cell;
   vertical-align : bottom;
  }
  .prod-item__thumb {
   display : table-cell;
   vertical-align: middle;
   margin-bottom : 15px;
   text-align : center;
  }
  .prod-item__dtl {
   color: #5c2700;
   font-weight : bold;
   font-size : 12px;
   text-align : center;
  }
  
 .mleft20 { margin-left:20px; }
 
 
 .related-links {
 background: url("../images/aging/img17.png") repeat;
 padding: 13px 12px 10px 12px;
box-sizing: border-box;
    display: block;
}
 .related-links h3 {
  color: #5c2700;
  font-size : 20px;
  font-weight : bold;
  margin-bottom : 15px;
 }
  .related-items__dtl a img, .link img { margin-right: 5px; }

.related-sec { display: block; overflow: hidden; position: relative; }
 .related-sec__item {
  display: block;
  float: left;
  width: 216px;
  margin-left: 13px;
 }
 .related-sec__item:first-child { margin-left: 0px !important }
 .related-sec__dtl { 
  color: #333; 
  font-size: 12px; 
  text-decoration: underline; 
  font-weight: bold; 
  margin-top: 3px;
  line-height: 23px; 
 }
 
 .txtCenter {
	 text-align:center;
 }
 .pstyle1 {
	margin-top:20px; margin-bottom:50px; font-size:20px; line-height:46px; font-weight:bold;
 }
 
.table-style-1 {display: table;margin-top: 23px; margin-bottom: -11px;}
.table-style-1 .row {display: table-row;}
.table-style-1 .cell {
 display: table-cell;
 color:#5c2700;
 font-size: 15px;
 height: 30px;
}
.table-style-1 .left {font-weight: bold;height: 20px;width: 95px;}
.table-style-1 .right {margin-left: 15px;width: 615px;}
 .title-list {display: block;margin: 8px 0 -3px 13px;}
.title-list li { 
 color:#5c2700;
 font-size: 15px;
 list-style: disc;
 padding: 11px 0;
}
.title-list li:last-child { 
 padding-bottom: 0px !important;
}
.title-list li a {list-style: disc;text-decoration: underline; color:#5c2700; font-weight:normal; }
ul.list-link01 {
	overflow:auto;
	margin-left:0;
}
ul.list-link01 li {
	float:left;
	width:32%;
	padding:5px 0;
	list-style-type:none;
}
ul.list-link01 li a {
	color:#333333;
	font-size:14px;
	text-decoration:underline;
}
h3.font24, h4.font24 { font-size:24px; }
.specialBorder {
	border:solid 3px #cba992;
	font-weight:bold;
	padding:20px;
}
.red-highlight {
    color: #cc0000;
    font-weight: bold;
}