/**/
@font-face {
	font-family:mvboli;
	font-style:normal;
	src:url(../fonts/mvboli.ttf);
}
@font-face {
	font-family:ryumin-pro;
	font-style:normal;
	src:url(../fonts/ryumin-pro.otf);
}
.font-mvboli{
	font-family:mvboli;
}
.font-ryumin-pro{
	font-family:ryumin-pro;
}


/**/
html{}
body{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	background:url("../images/updt-common/bg-body.jpg") repeat;
}
p{
	font-size:15px;
	color:#5C2700;
	line-height:30px;
	margin-bottom:20px;
}
h1, h2, h3, h4, h5, h6{
	font-family:ryumin-pro;
	font-weight:bold;
	font-size:30px;
	color:#5C2700;
	margin-bottom:16px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}
ul, ol{
	margin-left:20px;
	margin-bottom:20px;
}
li{
	font-size:15px;
	color:#5c2700;
	line-height:30px;
}
ul li{
	list-style:disc;
}
ul ul li{
	list-style:none;
}
ol li{
	list-style:numeric;
}
strong{
	font-weight:bold;
}
blockquote{
	border-left:5px solid #b17f4c;
	padding:6px 0 0 14px;
}
a{
	font-weight:bold;
	color:#333333;
}
del {
    text-decoration:line-through;
}
hr{
	border:1px solid #633300;
}
.ico-anc{
	margin-right:5px;
}
.accent-1{
	background:url("../images/updt-common/bg-hr-1.png") no-repeat scroll left top; /* / 961px auto*/
	height:4px;
}
.accent-2{
	background:url("../images/updt-common/bg-hr-2.png") repeat-x;
	height:4px;
}
.page-top-img{
	display:none;
	position:fixed;
	right:20px;
	bottom:20px;
	z-index:99999;
}
.anc-img:hover {
	opacity: .8;
}
.anc:hover {
	color: #666666;
}
.anc-img-tape {
	z-index: 9;
}
/**/
#site-header-wrapper{
	width:100%;
	min-width:320px;
	background:white;
	border-bottom:2px solid #704a2f;
}
#site-header-wrapper.position-fixed{
	position:fixed;
	width:100%;
	top:0px;
	z-index:999;
}

#site-header{
	max-width:1198px;
	margin:0 auto;
	padding:0 10px;
	position: relative;
}
#site-header .col{}
#site-header .col-1{
	width:36%;
}
#site-header .col-2{
	width:64%;
}

/*
#site-header{
	max-width:1198px;
	margin:0 auto;
	padding:0 10px;
	position: relative;
}
#site-header .col{}
#site-header .col-1{
	width:36%;
	min-width:128px;
}
#site-header .col-2{
	width:64%;
}
*/

#site-header .logo{
	width:128px;
	height:51px;
	margin:15px 0;
	margin-right:12px;
	float:left;
}
#site-header .logo a{
	display:block;
	width:128px;
	height:51px;
	background:url('../images/updt-common/site-logo.png');
	text-indent:-999999px;
}
#site-header .logo-note{
	font-size:11px;
	color:#633300;
	margin-top:24px;
	line-height:18px;
}
#site-header .site-menu{
	float:right;
}
#site-header .site-menu.site-header-menu-1{
	margin:7px 0 15px 0;
}
#site-header .site-menu.site-header-menu-2{}
#site-header .site-menu.site-header-menu-3{
	display:none;
	margin:10px 0;
}
#site-header .site-menu .li-item{
	float:left;
}
#site-header .site-menu.site-header-menu-1 ul{
	margin-left:0px;
	margin-bottom:0px;
}
#site-header .site-menu.site-header-menu-1 .li-item{
	margin-right:18px;
	line-height:18px;
	list-style:none;
}
#site-header .site-menu.site-header-menu-1 .li-item a{
	font-weight:normal;
}
#site-header .site-menu.site-header-menu-1 .li-item a:hover{
	text-decoration: underline;
}
#site-header .site-menu.site-header-menu-1 .li-item.last-item{
	margin-right:0px;
}
#site-header .site-menu.site-header-menu-1 .li-item.ico-star{
	background:url('../images/updt-common/ico-star.png') no-repeat 0 50% / auto auto;
}
#site-header .site-menu.site-header-menu-1 .li-item.ico-pen{
	background:url('../images/updt-common/ico-pen.png') no-repeat 0 50% / auto auto;
}
#site-header .site-menu.site-header-menu-1 .li-item.ico-press{
	background:url('../images/updt-common/ico-press.png') no-repeat 0 50% / auto auto;
}
#site-header .site-menu.site-header-menu-1 .li-item.ico-contact{
	background:url('../images/updt-common/ico-contact.png') no-repeat 0 50% / auto auto;
}
#site-header .site-menu.site-header-menu-1 .li-item.ico-organ{
	background:url('../images/updt-common/ico-organ.png') no-repeat 0 50% / auto auto;
}
#site-header .site-menu.site-header-menu-2 ul{
	margin-left:0px;
	margin-bottom:0px;
}
#site-header .site-menu.site-header-menu-2 .li-item{
	margin-right:30px;
	line-height:28px;
	list-style:none;
	position: relative;
}
#site-header .site-menu.site-header-menu-2 .li-item:hover > ul{
	display: block;
}
#site-header .site-menu.site-header-menu-2 .li-item a{
	font-weight:normal;
}
#site-header .site-menu.site-header-menu-2 .li-item a:hover{
	border-bottom: 2px solid #633300;
}
#site-header .site-menu.site-header-menu-2 .li-item.last-item{
	margin-right:0px;
}
#site-header .site-menu.site-header-menu-2 .li-item.last-item a:hover{
	border-bottom: 2px solid #cc2c02;
}
#site-header .site-menu.site-header-menu-2 ul .li-item ul{
	display: none;
	position: absolute;
	left:50%;
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
    top: 36px;
	background: #ffffff;
	padding: 20px;
	-ms-box-shadow: 0px 0px 3px black;
	-webkit-box-shadow: 0px 0px 3px black;
	-moz-box-shadow: 0px 0px 3px black;
	-o-box-shadow: 0px 0px 3px black;
	box-shadow: 0px 0px 3px black;
	z-index: 10;
}

#site-header .site-menu.site-header-menu-2 ul .li-item ul:before{
	content: "▲";
	display: block;
	position: absolute;
	left:50%;
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	font-size: 10px;
	top: -14px;
	-ms-text-shadow: 0 -2px 1px rgba(0, 0, 0, .5);
	-webkit-text-shadow: 0 -2px 1px rgba(0, 0, 0, .5);
	-moz-text-shadow: 0 -2px 1px rgba(0, 0, 0, .5);
	-o-text-shadow: 0 -2px 1px rgba(0, 0, 0, .5);
	text-shadow: 0 -2px 1px rgba(0, 0, 0, .5);
	color: white;
}
#site-header .site-menu.site-header-menu-2 ul .li-item ul:after{
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	height: 20px;
	top: -14px;
	left: 0px;
}
#site-header .site-menu.site-header-menu-2 ul .li-item ul .li-item{
	margin-right: 0px;
	white-space:nowrap;
	border: none;
	float: none;
}
#site-header .site-menu.site-header-menu-2 ul .li-item ul .li-item a{
}
#site-header .site-menu.site-header-menu-2 ul .li-item ul .li-item a:hover{
	text-decoration: underline;
	border: none;
}
#site-header .site-menu .li-item a{
	text-decoration:none;
	color:#633300;
	font-family:ryumin-pro;
}
#site-header .site-menu.site-header-menu-3 ul{
	margin-left:0px;
	margin-bottom:0px;
}
#site-header .site-menu.site-header-menu-3 .li-item{
	margin-right:12px;
	list-style:none;
	line-height:9px;
}
#site-header .site-menu.site-header-menu-3 .li-item.last-item{
	margin-right:0px;
}
#site-header .site-menu.site-header-menu-1 .li-item a{
	padding-left:14px;
	font-size:12px;
}
#site-header .site-menu.site-header-menu-2 .li-item a{
	font-size:16px;
}
#site-header .site-menu.site-header-menu-2 .li-item.last-item a{
	color:#cc2c02;
}

/* module list */
.list.list-hidden{
	display: none;
}
.list.list-sp-menu .list-sp-menu-sub{
	position: absolute;
	top: 82px;
	right: 0px;
	background: wheat;
	z-index: 10;
}
.list.list-item-bordered-bottom .list-item{
	border-bottom: 1px solid #81511c;
}
.list.list-item-bordered-bottom .list-item:last-child{
	border-bottom: 0px;
}

.list.list-item-padded-h .list-item{
	padding-left: 22px;
	padding-right: 22px;
}
.list.list-item-padded-v .list-item{
	padding-top: 22px;
	padding-bottom: 22px;
}


.list.list-sp-menu-sub-quaker{
	background:url("../images/updt-common/bg-body.jpg") repeat;
}



/* module nav */
.nav.nav-sp-menu{
}
.nav.nav-sp-menu.nav-sp-menu-bg-brown-gray{
	background: url("../images/updt-common/rough-brown-gray-bg.jpg") repeat;
}
.nav.nav-sp-menu.nav-sp-menu-bg-brown{
	background: #cfa972;
}

/* module link */
.link.link-sub-opener{
	display: block;
	padding: 22px;
	position: relative;
}
.link.link-sub-opener .sprite.sprite-plus-box{
	position: absolute;
	right: 24px;
}
.link.link-sub-opener .sprite.sprite-minus-box{
	position: absolute;
	right: 24px;
}
.link.link-padded{
	display: block;
	padding: 14px;
}
#site-header .site-menu .li-item .link.link-sub-opener{
	text-decoration: underline;
}
#site-header .site-menu .li-item .link.link-sub-opener:hover{
	color:#cc2c02;
}

/* module table */
.table.table-menu {
	width: 100%;
}
.table.table-menu, .table.table-menu tr, .table.table-menu td{
	border: 1px solid #633300;
}
.table.table-menu tr {
	border: 0px;
	vertical-align: initial;
}
.table.table-menu td {
	padding: 0px;
}

/* module sprite */
.sprite{
	display:inline-block;
	vertical-align:middle;
}
.sprite.sprite-star{
	background: url('../images/updt-common/ico-star.png') no-repeat 0 50% / auto auto;
	width:11px;
	height:10px;
}
.sprite.sprite-pen{
	background: url('../images/updt-common/ico-pen.png') no-repeat 0 50% / auto auto;
	width:12px;
	height:14px;
}
.sprite.sprite-press{
	background: url('../images/updt-common/ico-press.png') no-repeat 0 50% / auto auto;
	width:12px;
	height:12px;
}
.sprite.sprite-contact{
	background: url('../images/updt-common/ico-contact.png') no-repeat 0 50% / auto auto;
	width:13px;
	height:9px;
}
.sprite.sprite-organ{
	background: url('../images/updt-common/ico-organ.png') no-repeat 0 50% / auto auto;
	width:11px;
	height:9px;
}
.sprite.sprite-plus-box{
	background: url('../images/updt-common/ico-plus-box.png') no-repeat 0 50% / auto auto;
	background-size: 15px 15px;
	width:15px;
	height:15px;
}
.sprite.sprite-minus-box{
	background: url('../images/updt-common/ico-minus-box.png') no-repeat 0 50% / auto auto;
	background-size: 15px 15px;
	width:15px;
	height:15px;
}


/**/
#site-left-aside{
	width:222px;
	float:left;
}
/**/
#site-main{
	width:100%;
	min-width:320px;
}
#site-main .site-content{
	width:100%;
}
#site-main .site-content .cblk-1{
	max-width:960px;
	margin:0 auto;
}
#site-main.has-aside{
	max-width:960px;
	margin:0 auto;
}
#site-main.has-aside .site-content{
	width:700px;
	float:left;
	margin-left:36px;
}
#site-main.has-aside .site-content .cblk-1{
	max-width:100%
}
/**/
#site-footer-wrapper{
	width:100%;
	min-width:320px;
	border-top:2px solid #704a2f;
}
#site-footer{
	max-width:1198px;
	margin:20px auto 0 auto;
	padding:0 10px;
}
#site-footer .col-1{
	width:47%;
}
#site-footer .col-2{
	width:53%;
}
#site-footer .logo{
	width:128px;
	height:51px;
	float:left;
	margin-right:12px;
}
#site-footer .logo a{
	display:block;
	width:128px;
	height:51px;
	background:url('../images/updt-common/site-logo.png');
	text-indent:-999999px;
}
#site-footer .slogan{
	font-size:12px;
	color:#333333;
	font-family:ryumin-pro;
	line-height:20px;
}
#site-footer .site-footer-menu{
	float:right;
}
#site-footer .site-footer-menu ul{
	margin-left:0px;
	margin-bottom:0px;
}
#site-footer .site-footer-menu .li-item{
	float:left;
	margin-right:16px;
	margin-bottom:20px;
	list-style:none;
}
#site-footer .site-footer-menu .li-item.last-item{
	margin-right:0px;
}
#site-footer .site-footer-menu .li-item.ico-twitter{
	background:url('../images/updt-common/ico-twitter.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item.ico-fb{
	background:url('../images/updt-common/ico-fb.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item.ico-tumbler{
	background:url('../images/updt-common/ico-tumbler.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item.ico-mail-mag{
	background:url('../images/updt-common/ico-mail-mag.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item.ico-sitemap{
	background:url('../images/updt-common/ico-sitemap.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item.ico-online-shop{
	background:url('../images/updt-common/ico-online-shop.png') no-repeat 0 50% / auto auto;
}
#site-footer .site-footer-menu .li-item a{
	color:#573a1a;
	font-family:mvboli;
	font-size:12px;
	padding-left:22px;
	font-weight:normal;
}
#site-footer .copyright{
	float:right;
	font-size:12px;
	color:#333333;
	font-family:ryumin-pro;
}


/**/
#site-left-aside .header-content h2{
	font-size:18px;
}

#site-left-aside .site-aside-menu-1.special-category > header{
	margin-bottom:16px;
}
#site-left-aside .site-aside-menu-1.special-category ul{
	margin-left:0px;
	margin-bottom:0px;
}
#site-left-aside .site-aside-menu-1.special-category .li-item{
	list-style:none;
}
#site-left-aside .site-aside-menu-1.special-category .li-item a{
	font-family: "Meiryo",sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size: 14px;
}
#site-left-aside .site-aside-menu-1.special-category .li-item .anc.link-1 img{
	margin-right:4px;
}
#site-left-aside .site-aside-menu-1.special-category .li-item ul{
	margin-left: 23px;
    margin-bottom: 15px;
}
#site-left-aside .site-aside-menu-1.special-category .li-item ul .li-item:before{
	content: "・";
}

#site-left-aside .site-aside-menu-1.news-list > header{
	margin-bottom:16px;
}
#site-left-aside .site-aside-menu-1.news-list ul{
	margin-left:0px;
	margin-bottom:0px;
}
#site-left-aside .site-aside-menu-1.news-list .li-item{
	margin-bottom:15px;
	line-height:14px;
	list-style:none;
}
#site-left-aside .site-aside-menu-1.news-list .li-item .anc-img{
	float:left;
	margin-right:10px;
}
#site-left-aside .site-aside-menu-1.news-list .li-item .anc-img img{
	max-width:62px;
}
#site-left-aside .site-aside-menu-1.news-list .li-item h3{
	font-family:arial;
	font-size:12px;
	margin-bottom:0px;
}
#site-left-aside .site-aside-menu-1.news-list .li-item h3 img{
	margin-right:5px;
}
#site-left-aside .site-aside-menu-1.news-list .li-item .anc.link-1{
	font-family:arial;
	font-size:10px;
}

#site-left-aside .site-aside-menu-1.category-list > header{
	margin-bottom:16px;
}
#site-left-aside .site-aside-menu-1.category-list ul{
	margin-left:0px;
	margin-bottom:0px;
}
#site-left-aside .site-aside-menu-1.category-list .li-item{
	margin-bottom:5px;
	position:relative;
	line-height:28px;
	list-style:none;
}
#site-left-aside .site-aside-menu-1.category-list .li-item .anc-img{
	float:left;
	margin-right:10px;
}
#site-left-aside .site-aside-menu-1.category-list .li-item .anc-img img{
	max-width:62px;
}
#site-left-aside .site-aside-menu-1.category-list .li-item .anc.link-1{
	font-size:12px;
	position:absolute;
	top:25%;
}

#site-left-aside .site-aside-menu-1.special-content > header{
	margin-bottom:15px;
}
#site-left-aside .site-aside-menu-1.special-content > .anc.link-1{
	font-family: ryumin-pro;
	font-size: 16px;
}
#site-left-aside .site-aside-menu-1.special-content ul{
	margin-left:0px;
	margin-bottom:0px;
}
#site-left-aside .site-aside-menu-1.special-content .li-item {
	margin-bottom:20px;
	list-style:none;
}
#site-left-aside .site-aside-menu-1.special-content .li-item .col-1{
	position:relative;
}
#site-left-aside .site-aside-menu-1.special-content .li-item .anc-img-tape{
	position:absolute;
}
#site-left-aside .site-aside-menu-1.special-content .li-item .anc-img-tape.tape-left{
	left:-6%;
	top:-4%;
}
#site-left-aside .site-aside-menu-1.special-content .li-item .anc-img-tape.tape-right{
	right:-0%;
	top:-4%;
}
#site-left-aside .site-aside-menu-1.special-content .li-item .anc-img img{
	border:8px solid white;
	max-width:194px;
}
#site-left-aside .site-aside-menu-1.special-content .li-item .anc.link-1{
	display:block;
	line-height:20px;
	font-size:14px;
}
#site-left-aside .site-aside-menu-1.staff-favorite > header{
	margin-bottom:15px;
}
#site-left-aside .site-aside-menu-1.staff-favorite > .anc.link-1{
	font-family: ryumin-pro;
	font-size: 16px;
}
#site-left-aside .site-aside-menu-1.staff-favorite ul{
	margin-left:0px;
	margin-bottom:0px;
}
#site-left-aside .site-aside-menu-1.staff-favorite .li-item{
	margin-bottom:20px;
	list-style:none;
}
#site-left-aside .site-aside-menu-1.staff-favorite .li-item .anc.link-1{
	line-height:20px;
	font-size:12px;
}
#site-left-aside .site-aside-menu-1.press-release > header{
	margin-bottom:15px;
}
#site-left-aside .site-aside-menu-1.press-release > .anc.link-1{
	font-family: ryumin-pro;
	font-size: 16px;
}
#site-left-aside .site-aside-menu-1.press-release ul{
	margin-left:0px;
	margin-bottom:0px;
}
#site-left-aside .site-aside-menu-1.press-release .li-item{
	margin-bottom:20px;
	list-style:none;
}
#site-left-aside .site-aside-menu-1.press-release .li-item .anc.link-1{
	font-size:12px;
}

/**/
.header-content .header-eng{
	font-family:mvboli;
	font-size:14px;
	/*
	vertical-align:middle;
	*/
	position:absolute;
	top:34%;
	margin-left:10px;
}
.header-content .h{
	position:relative;
}
.header-content .anc-header-content{
	/*
	float:right;
	padding-top:5px;
	*/
	font-size:16px;
	position:absolute;
	top:34%;
	right:0;
}


/**/
.iblk-1.slick-slider{
	margin-bottom:0px;
}
.iblk-1.carousel .slick-slide{
	width:248px;
}
.iblk-1.carousel .anc-img{
	margin-bottom:5px;
	display:inline-block;
}
.iblk-1.carousel .anc.link-1{
	font-size:14px;
	line-height:20px;
	margin-bottom:5px;
	display:inline-block;
}
.iblk-1.carousel h3{
	font-family:arial;
	font-size:16px;
	margin-bottom:5px;
}
.iblk-1.carousel h3 img{
	display:inline-block;
	margin-right:5px;
	vertical-align:bottom;
}
.iblk-1.carousel p{
	font-family:'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:11px;
	color:#555555;
	line-height:18px;
}
.iblk-1.carousel p .ico{
	display:inline-block;
	margin-right:5px;
	vertical-align:middle;
}
.iblk-1.carousel .slick-prev.slick-arrow{
	background:url('../images/updt-common/ico-arrow-prev-brown.png') no-repeat 0px 0px;
	background-size:38px auto;
	width:38px;
	height:38px;
	text-indent:-999999px;
	left:-60px;
	top:80px;
    z-index: 1;
}
.iblk-1.carousel .slick-next.slick-arrow{
	background:url('../images/updt-common/ico-arrow-next-brown.png') no-repeat 0px 0px;
	background-size:38px auto;
	width:38px;
	height:38px;
	text-indent:-999999px;
	right:-60px;
	top: 80px;
}

.iblk-2{}
.iblk-2 .col{}
.iblk-2 .col-1{
	float:left;
	max-width:306px;
}
.iblk-2 .col-1 .prg-box-1{
	border:2px solid rgba(131, 127, 118, .3);
	padding:8px;
}
.iblk-2 .col-1 p{
	font-family:ryumin-pro;
	font-size:14px;
	color:black;
}
.iblk-2 .col-1 .anc.link-1{
	line-height:30px;
	font-size:14px;
}
.iblk-2 .col-2{
	margin-left:328px;
	width:auto;
}
.iblk-2 .col-2 ul{
	margin-left:0px;
	margin-bottom:0px;
}
.iblk-2 .col-2 .li-item{
	float:left;
	width:298px;
	height:250px;
	margin-bottom:34px;
	list-style:none;
}
.iblk-2 .col-2 .li-item.odd{
	margin-right:34px;
}
.iblk-2 .col-2 .li-item .anc-img{
	display:block;
	margin-bottom:10px;
}
.iblk-2 .col-2 .li-item .anc.link-1{
	display:block;
	font-size:14px;
	line-height:20px;
}

.iblk-3 ul{
	margin-left:0px;
	margin-bottom:0px;
}
.iblk-3 .li-item{
	float:left;	
	text-align:center;
	width:130px;
	height:140px;
	margin:0 30px;
	list-style:none;
}
.iblk-3 .li-item .anc-img{
	display:block;
	margin-bottom:10px;
}
.iblk-3 .li-item .anc.link-1{
	display:block;
	font-size:12px;
}

.iblk-4 ul{
	margin-left:0px;
	margin-bottom:0px;
}
.iblk-4 .li-item{
	float:left;
	/*
	width:274px;
	margin:0 22px 22px 22px;
	*/
	width:290px;
	margin:0 14px 22px 14px;
	list-style:none;
}
.iblk-4 .li-item .col-1{
	position:relative;
}
.iblk-4 .li-item .anc-img-tape{
	position:absolute;
}
.iblk-4 .li-item .anc-img-tape.tape-left{
	left:-6%;
	top:-4%;
}
.iblk-4 .li-item .anc-img-tape.tape-right{
	right:-6%;
	top:-4%;
}
.iblk-4 .li-item .anc-img{
	display:block;
	margin-bottom:10px;
}
.iblk-4 .li-item .anc-img img{
	border:8px solid white;
}
.iblk-4 .li-item .anc.link-1{
	display:block;
	font-size:14px;
	line-height:20px;
}

.iblk-5 ul{
	margin-left:0px;
	margin-bottom:0px;
}
.iblk-5 .li-item{
	float:left;
	width:300px;
	text-align:center;
	margin-right:28px;
	list-style:none;
}
.iblk-5 .li-item.last-item{
	margin-right:0px;
}
.iblk-5 .li-item p{
	color:black;
	font-size:14px;
	text-align:left;
	margin-bottom:10px;
}
.iblk-5 .li-item .anc.link-1{
	font-family: ryumin-pro;
	font-size:16px;
}

.iblk-6{
	background-color:white;
	border:2px solid #e1e2df;
	box-shadow: 0 0 0 3px white;
}
.iblk-6 .col{
	float:left;
}
.iblk-6 .col-1{
	width:40%;
	text-align:center;
}
.iblk-6 .col-2{
	width:60%;
	text-align:center;
}
.iblk-6 .col-2 p{
	color:#333333;
	font-family:ryumin-pro;
	font-size:14px;
	line-height:24px;
	text-align:left;
}

.iblk-7{}
.iblk-7 article{
	margin-bottom:60px;
}
.iblk-7 article .col-2 p{
	color:black;
	font-size:15px;
	line-height:24px;
}
.iblk-7 .col-1 .header-content{
	margin-bottom:30px;
	display:none;
}
.iblk-7 .article-img-left{}
.iblk-7 .article-img-left .col-1{
	width:454px;
	float:left;
}
.iblk-7 .article-img-left .col-2{
	margin-left:506px;
}
.iblk-7 .article-img-left .col-2 .anc.link-1{
	font-family:ryumin-pro;
	font-size:16px;
}
.iblk-7 .article-img-right .col-1{
	width:454px;
	float:right;
}
.iblk-7 .article-img-right .col-2{
	margin-right:506px;
}
.iblk-7 .article-img-right .col-2 .anc.link-1{
	font-family:ryumin-pro;
	font-size:16px;
}

.iblk-8{
	background-color:rgba(99, 51, 0, 0.3);
	padding:18px 14px 18px 14px;
}
.iblk-8 h5{
	font-size:20px;
	margin-bottom:20px;
}
.iblk-8 ul{
	margin-left:0px;
	margin-bottom:0px;
}
.iblk-8 .li-item{
	float:left;
	width:50%;
	position:relative;
	list-style:none;
	margin-bottom:22px;
}
.iblk-8 .li-item.li-item-single{
	width:100%;
}
.iblk-8 .li-item > img{
	float:left;
	margin-right:10px;
	max-width:135px;
}
.iblk-8 .li-item .anc.link-1{
	position:absolute;
	top:22%;
	line-height:22px;
	font-family: ryumin-pro;
	font-size: 16px;
}
.iblk-8 .li-item .anc.link-1 img{
	width:15px;
}

.iblk-9{}
.iblk-9 article{
	/*
	margin-bottom:70px;
	*/
	position:relative;
}
.iblk-9 article .article-feature-image.taped{
	position:relative;
}
.iblk-9 article .article-feature-image.taped .anc-img-tape{
	position:absolute;
}
.iblk-9 article .article-feature-image.taped .anc-img-tape.tape-left{
	left:-2%;
	top:-4%;
}
.iblk-9 article .article-feature-image.taped .anc-img-tape.tape-right{
	right:-2%;
	top:-4%;
}
.iblk-9 article .article-feature-image.taped .anc-img{
	display:block;
	margin-bottom:10px;
}
.iblk-9 article .article-feature-image.taped .anc-img img{
	width:98%;
	border:8px solid white;
}
.iblk-9 article .header-category{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:15px;
	font-weight:normal;
	margin-bottom:20px;
}
.iblk-9 article .header-category .anc.link-1{
	font-size:12px;
}
.iblk-9 article .header-category .anc.link-1 img{
	width:20px;
	vertical-align:bottom;
}
.iblk-9 article .header-article{
	margin-bottom:25px;
	line-height:38px;
}
.iblk-9 article .header-article a{
	font-size:30px;
	color:#5c2700;
}
.iblk-9 article p{}
.iblk-9 article .anc.link-1{
	margin-bottom:20px;	
	font-family: ryumin-pro;
	font-size: 16px;
}
.iblk-9 article .anc.link-1 img{}
.iblk-9 article .iblk-11{
	position:absolute;
	right:0px;
	bottom:-24px;
}

.iblk-10{}
.iblk-10 ul{
	padding:0 10px;
	margin-left:0px;
	margin-bottom:0px;
}
.iblk-10 .li-item{
	float:left;
	width:50%;
	line-height:9px;
	list-style:none;
}
.iblk-10 .li-item article{
	width:86%;
	max-width:312px;
	margin:0 auto;
}
.iblk-10 .li-item article .article-feature-image.taped{
	position:relative;
}
.iblk-10 .li-item article .article-feature-image.taped .anc-img-tape{
	position:absolute;
}
.iblk-10 .li-item article .article-feature-image.taped .anc-img-tape.tape-left{
	left:-2%;
	top:-4%;
}
.iblk-10 .li-item article .article-feature-image.taped .anc-img-tape.tape-right{
	right:-2%;
	top:-4%;
}
.iblk-10 .li-item article .article-feature-image.taped .anc-img{
	display:inline-flex;
	border:8px solid white;
	margin-bottom:10px;
}
.iblk-10 .li-item article .article-feature-image.taped .anc-img img{
	width:100%;
}
.iblk-10 .li-item article .header-category{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:15px;
	font-weight:normal;
	margin-bottom:10px;
}
.iblk-10 .li-item article .header-category .anc.link-1{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:12px;
	padding-left:10px;
}
.iblk-10 .li-item article .header-category .anc.link-1 img{
	width:20px;
	vertical-align:bottom;
}
.iblk-10 .li-item article .header-article{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	margin-bottom:25px;
	line-height:22px;
	font-size:15px;
}
.iblk-10 .li-item article .header-article a{
	color:#333333;
}

.iblk-11{}
.iblk-11 ul{
	margin-left:0px;
	margin-bottom:0px;
}
.iblk-11 .li-item{
	float:left;
	margin-right:18px;
	list-style:none;
}
.iblk-11 .li-item.last-item{
	margin-right:0px;
}
.iblk-11 .li-item a{
	display:block;
}
.iblk-11 .li-item a img{
	width:32px;
}

.iblk-12{
	border:1px dashed #5C2700;
	padding:21px;
}
.iblk-12 > .header-content{
	margin-bottom:20px;
}
.iblk-12 ul{
	margin-left:20px;
}
.iblk-12 ul li{
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size:15px;
	color:#5c2700; 
	font-weight:bold;
	list-style-type:disc;
	line-height:30px;
}
.iblk-12 ul ul{
	margin-left:10px;
}
.iblk-12 ul li li{
	font-weight:normal;
	list-style-type:none;
}

.iblk-13{}
.iblk-13 ul{
	/*
	padding:0 10px;
	*/
	margin-left:0px;
	margin-bottom:0px;
}
.iblk-13 .li-item{
	float:left;
	width:50%;
	list-style:none;
}
.iblk-13 .li-item article{
	width:86%;
	max-width:340px;
	margin:0 auto;
}
.iblk-13 .li-item article .article-feature-image{}
.iblk-13 .li-item article .article-feature-image .anc-img{}
.iblk-13 .li-item article .article-feature-image .anc-img img{
	width:100%;
}
.iblk-13 .li-item article p{
	font-size:15px;
	color:#5c2700;
}

.iblk-14{
	padding:18px 14px;
	background-color: rgba(99, 51, 0, 0.3);
}

.iblk-15{}
.iblk-15 ul{
	margin-left:0px;
	margin-right:0px;
	font-size:0px;
}
.iblk-15 .li-item{
	width:33.33%;
	/*
	width:220px;
	float:left;
	margin-right:20px;
	*/
	display: inline-block;
	list-style:none;
	font-size:15px;
	vertical-align: top;
}
.iblk-15 .li-item.last-item{
	/*
	margin-right:0px;
	*/
}
.iblk-15 .li-item .col{}
.iblk-15 .li-item .col-1{}
.iblk-15 .li-item .col-1 img{}
.iblk-15 .li-item .col-2{}
.iblk-15 .li-item .col-2 p{}

.iblk-16{}
.iblk-16 ul{
	margin-left:0px;
	margin-right:0px;
}
.iblk-16 .li-item{
	margin-bottom:40px;
	list-style:none;
}
.iblk-16 .li-item .col{}
.iblk-16 .li-item .col-1{
	width:126px;
	text-align:center;
}
.iblk-16 .li-item .col-1 p{
	font-weight:bold;
}
.iblk-16 .li-item .col-2{
	border-radius:6px;
	background-color:white;
	padding:10px 20px;
}
.iblk-16 .li-item.sender{}
.iblk-16 .li-item.sender .col{}
.iblk-16 .li-item.sender .col-1{
	float:left;
}
.iblk-16 .li-item.sender .col-2{
	margin-left:144px;
}
.iblk-16 .li-item.receiver{}
.iblk-16 .li-item.receiver .col{}
.iblk-16 .li-item.receiver .col-1{
	float:right;
}
.iblk-16 .li-item.receiver .col-1 p{
	color:#d04500;
}
.iblk-16 .li-item.receiver .col-2{
	margin-right:144px;
}

.iblk-17{}
.iblk-17 ul{
	margin-left:0px;
	margin-bottom:0px;
}
.iblk-17 .li-item{
	border:1px dashed #5C2700;
	padding:10px;
	position:relative;
	margin-bottom:20px;
	list-style:none;
}
.iblk-17 .li-item > img{
	float:left;
	margin-right:10px;
	max-width:135px;
}
.iblk-17 .li-item .anc.link-1{
	position:absolute;
	top:40%;
	line-height:22px;
}
.iblk-17 .li-item .anc.link-1 img{
	width:15px;
}


.iblk-18{}
.iblk-18 img{
	width:100%;
}

.iblk-19{
	padding:18px 0;
}
.iblk-19 .breadcrumb{
	margin-bottom:0px;
	font-size:12px;
	color:#333;
}


.iblk-20{}
.iblk-20 ul{
	margin-left:0px;
	margin-bottom:0px;
}
.iblk-20 .li-item{
	list-style:none;
	border-top:1px dotted #5c2700;
	padding:10px 0;
}
.iblk-20 .li-item.last-item{
	border-bottom:1px dotted #5c2700;
}
.iblk-20 .li-item p{
	margin-bottom:0px;
}
.iblk-20 .li-item .col{}
.iblk-20 .li-item .col-1{
	float:left;
	width:160px;
}
.iblk-20 .li-item .col-2{
	margin-left:160px;
}
.iblk-20.iblk-20-shoplist .li-item .col-1{
	width:222px;
}
.iblk-20.iblk-20-shoplist .li-item .col-2{
	margin-left:222px;
}


.iblk-21{
	border-left: 2px solid #7a4813;
	padding-left: 20px;
	position: relative;
}

.iblk-22{}
.iblk-22 ul{
	margin-left: 0px;
	font-size: 0px;
}
.iblk-22 ul li{
	list-style: none;
	font-size: 15px;
	display: inline-block;
	width: 50%;
}
.iblk-22 ul li article{
	padding-right:20px;
}
.iblk-22 ul li article .article-feature-image img{
	width: 100%;
}


.nav-history-year-menu {}
.nav-history-year-menu ul{
	margin-left: 0px;
	font-size: 0px;
}
.nav-history-year-menu ul li{
	list-style: none;
	display: inline-block;
	text-align: center;
	width: 20%;
	font-size: 15px;
}

.heading-company-history{
	margin-left:-31px;
	margin-bottom:40px;
	color:#5c2700;
	font-size:30px;
	padding-left:30px;
    text-indent:-30px;
	line-height:40px;
	position: relative;
}
.heading-company-history-first{
	/*
		line-height:1px;
	*/
	position: absolute;
	top: -16px;
}
.glyph-icon.glyph-icon-bullet-brown.company-history-header-bullet{
	width:20px;
	height:20px;
	background:url('../images/updt-common/bullet-brown.png') no-repeat 0 0px;
	display: inline-block;
}
.heading-company-history .company-history-header-year{
	font-size:18px;
}

.nav-grid {}
.nav-grid ul{
	font-size: 0px;
}
.nav-grid ul li{
	font-size: 15px;
	display: inline-block;
}
.nav-grid-shoplist{}
.nav-grid-shoplist ul{
	margin-left: 10px;
}
.nav-grid-shoplist ul li{
	width: 25%;
}
.nav-grid-shoplist ul li:before{
	content: "・";
	
}
.anc-shoplist {
	color: #5c2700;
	font-weight: normal;
}



/**/
.header-shoutout{
	color:white;
	font-family:ryumin-pro;
}
.header-shoutout.header-hertz{
	background:#808080 url("../images/updt-index/shoutout-hertz.jpg") no-repeat scroll center top / 1916px auto;
}
.header-shoutout.header-learn{
	background:#b2b2b2 url("../images/updt-index/shoutout-learn.jpg") no-repeat scroll center top / 1911px auto;
}
.header-shoutout.header-retail{
	background:#b2b2b2 url("../images/updt-index/shoutout-retail.jpg") no-repeat scroll center top / 1918px auto;
}
.header-shoutout.header-material{
	background:#b2b2b2 url("../images/updt-index/shoutout-material.jpg") no-repeat scroll center top / 1917px auto;
}
.header-shoutout .b-content{
	margin:0px auto;
	max-width:960px;
	width:100%;
	text-align:center;
}
.header-shoutout h2{
	font-size:36px;
}
.header-shoutout h3{
	font-size:24px;
	font-family:mvboli;
}
.header-shoutout p{
	font-size:18px;
	line-height:36px;
	color:white;
}


/**/
.l-container {
	max-width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

/**/
.banner-bgimg {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.banner-bgimg .banner-bgimg-images {}
.banner-bgimg .banner-bgimg-images img {
	/*
	*/
	width: 100%;
	display: block;
}
.banner-bgimg .banner-bgimg-shoutout {
	color: white;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
   	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.banner-bgimg .banner-bgimg-shoutout h2 {
	font-size: 24px;
	line-height: 56px;
	color: white;
}
.banner-bgimg .banner-bgimg-images .slick-slide {
	/* width: 100%; */
}


/*
.banner-bgimg {
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 40px;
	position: relative;
}
.banner-bgimg .banner-bgimg-shoutout {
	color: #00698c;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
   	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
*/






/*helpers*/
.float-right{float:right;}
.float-left{float:left;}
.clear-both{clear: both;}
.clear-left{clear: left;}
.align-center{text-align: center;}
.mxw341{ max-width:341px; }
.w100p{ width:100%; }
.w40p{ width:40%; }
.w45p{ width:45%; }
.w50p{ width:50%; }
.content-pc{ display:block; }
.content-sp{ display:none; }
.fcred{ color:#c70e00; }
.mt5 { margin-top:5px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt25 { margin-top:25px !important; }
.mt30 { margin-top:30px !important; }
.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mt45 { margin-top:45px !important; }
.mt50 { margin-top:50px !important; }
.mt55 { margin-top:55px !important; }
.mt60 { margin-top:60px !important; }
.mt65 { margin-top:65px !important; }
.mt70 { margin-top:70px !important; }
.mt75 { margin-top:75px !important; }
.mt80 { margin-top:80px !important; }
.mt85 { margin-top:85px !important; }
.mt90 { margin-top:90px !important; }
.mt95 { margin-top:95px !important; }
.mt100 { margin-top:100px !important; }
.mb5 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb25 { margin-bottom:25px !important; }
.mb30 { margin-bottom:30px !important; }
.mb35 { margin-bottom:35px !important; }
.mb40 { margin-bottom:40px !important; }
.mb45 { margin-bottom:45px !important; }
.mb50 { margin-bottom:50px !important; }
.mb55 { margin-bottom:55px !important; }
.mb60 { margin-bottom:60px !important; }
.mb65 { margin-bottom:65px !important; }
.mb70 { margin-bottom:70px !important; }
.mb75 { margin-bottom:75px !important; }
.mb80 { margin-bottom:80px !important; }
.mb85 { margin-bottom:85px !important; }
.mb90 { margin-bottom:90px !important; }
.mb95 { margin-bottom:95px !important; }
.mb100 { margin-bottom:100px !important; }
.mb105 { margin-bottom:105px !important; }
.mb110 { margin-bottom:110px !important; }
.mb115 { margin-bottom:115px !important; }
.mb120 { margin-bottom:120px !important; }
.ml5 { margin-left:5px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml25 { margin-left:25px !important; }
.ml30 { margin-left:30px !important; }
.ml35 { margin-left:35px !important; }
.ml40 { margin-left:40px !important; }
.ml45 { margin-left:45px !important; }
.ml50 { margin-left:50px !important; }
.ml55 { margin-left:55px !important; }
.ml60 { margin-left:60px !important; }
.ml65 { margin-left:65px !important; }
.ml70 { margin-left:70px !important; }
.ml75 { margin-left:75px !important; }
.ml80 { margin-left:80px !important; }
.ml85 { margin-left:85px !important; }
.ml90 { margin-left:90px !important; }
.ml95 { margin-left:95px !important; }
.ml100 { margin-left:100px !important; }
.mr5 { margin-right:5px !important; }
.mr10 { margin-right:10px !important; }
.mr15 { margin-right:15px !important; }
.mr20 { margin-right:20px !important; }
.mr25 { margin-right:25px !important; }
.mr30 { margin-right:30px !important; }
.mr35 { margin-right:35px !important; }
.mr40 { margin-right:40px !important; }
.mr43 { margin-right:43px !important; }
.mr45 { margin-right:45px !important; }
.mr50 { margin-right:50px !important; }
.mr55 { margin-right:55px !important; }
.mr60 { margin-right:60px !important; }
.mr65 { margin-right:65px !important; }
.mr70 { margin-right:70px !important; }
.mr75 { margin-right:75px !important; }
.mr80 { margin-right:80px !important; }
.mr85 { margin-right:85px !important; }
.mr90 { margin-right:90px !important; }
.mr95 { margin-right:95px !important; }
.mr100 { margin-right:100px !important; }