.p-index .header-shoutout.header-hertz .b-content{
	text-align:left;
	padding:208px 0px;
}
.p-index .header-shoutout.header-hertz h2{
	font-size:24px;
	line-height:56px;
	color:white;
}
.p-index .header-shoutout.header-learn .b-content{
	padding:46px 0px;
}
.p-index .header-shoutout.header-learn h2{
	margin-bottom:40px;
	color:white;
}
.p-index .header-shoutout.header-learn h3{
	margin-bottom:40px;
	color:white;
}
.p-index .header-shoutout.header-learn p{
	margin-bottom:54px;
}
.p-index .header-shoutout.header-learn a{
	margin-bottom:60px;
}
.p-index .header-shoutout.header-retail .b-content{
	padding:154px 0px;
}
.p-index .header-shoutout.header-retail h2{
	margin-bottom:46px;
	color:white;
}
.p-index .header-shoutout.header-retail p{
	margin-bottom:46px;
}
.p-index .header-shoutout.header-retail a{
	margin-bottom:46px;
}
.p-index .header-shoutout.header-material .b-content{
	padding:68px 0px;
}
.p-index .header-shoutout.header-material h2{
	margin-bottom:60px;
	color:white;
}
.p-index .header-shoutout.header-material p{
	margin-bottom:60px;
}
.p-index .header-shoutout.header-material a{
	margin-bottom:60px;
}